@media only screen and (max-width: 5000px) {
  .machineplan {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    z-index: 0;
    .mininavbar {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 5px;
      margin-top: 5px;
      .mininavitem {
        padding: 5px;
        background-color: rgb(86, 163, 226);
        margin-left: 5px;
        border-radius: 5px;
        font-size: 0.7rem;
        padding: 5px;
        color: white;
        -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
        box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.27);
        &:hover {
          background-color: rgb(127, 219, 255);
          cursor: pointer;
          color: black;
        }
      }
    }
    .plandateselect {
      .inputdata {
        padding-left: 5px;
        margin-left: 2px;
        width: 310px;
        height: 35px;
        background-color: transparent;
        outline: none;
        border: solid 0.5px;
        border-color: rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        font-size: 16px;
        margin-left: 20px;
        color: black;
      }
    }
    .NM1 {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      margin-left: 15px;
      margin-right: 15px;
      background-color: rgba(198, 219, 77, 0.2);
      padding: 20px;
      box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
      -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
      border-radius: 5px;
      .machine_title {
        font-size: 30px;
        font-weight: bold;
        color: blue;
      }
      .FRlist {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        border: 1px solid black;
        border-width: 3px;
        border-radius: 5px;
        padding: 10px;
        margin-left: 10px;
        margin-right: 10px;
        align-items: center;
        flex-wrap: wrap;
      }
      .SRlist {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        border: 1px solid black;
        border-width: 3px;
        border-radius: 5px;
        padding: 10px;
        margin-left: 10px;
        margin-right: 10px;
        align-items: center;
        flex-wrap: wrap;
      }
      .DClist {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        border: 1px solid black;
        border-width: 3px;
        border-radius: 5px;
        padding: 10px;
        margin-left: 10px;
        margin-right: 10px;
        align-items: center;
        flex-wrap: wrap;
      }
      .EDlist {
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        border: 1px solid black;
        border-width: 3px;
        padding: 10px;
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
        justify-content: space-around;
      }
    }
    .NM2 {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      margin-left: 15px;
      margin-right: 15px;
      background-color: rgba(238, 148, 230, 0.2);
      padding: 20px;
      box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
      -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
      border-radius: 5px;
      .machine_title {
        font-size: 30px;
        font-weight: bold;
        color: blue;
      }
      .FRlist {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        border: 1px solid black;
        border-width: 3px;
        border-radius: 5px;
        padding: 10px;
        margin-left: 10px;
        margin-right: 10px;
        align-items: center;
        flex-wrap: wrap;
      }
      .EDlist {
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        border: 1px solid black;
        border-width: 3px;
        padding: 10px;
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
        justify-content: space-around;
      }
    }
    .NM2 {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      margin-left: 15px;
      margin-right: 15px;
      background-color: rgb(238, 148, 230);
      padding: 20px;
      box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
      -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
      border-radius: 5px;
      .machine_title {
        font-size: 30px;
        font-weight: bold;
        color: blue;
      }
      .FRlist {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        border: 1px solid black;
        border-width: 3px;
        border-radius: 5px;
        padding: 10px;
        margin-left: 10px;
        margin-right: 10px;
        align-items: center;
        flex-wrap: wrap;
      }
      .EDlist {
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        border: 1px solid black;
        border-width: 3px;
        padding: 10px;
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
        justify-content: space-around;
      }
    }
    .planwindow {
      display: flex;
      flex-direction: column;
      background-color: rgba(255, 255, 255, 0.58);
      width: 100%;
      height: 100%;
      position: fixed;
      box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
      -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
      top: 0;
      justify-self: center;
      align-self: center;
      background-color: white;
      .title {
        display: flex;
        flex: 0.3;
        justify-content: space-around;
        align-items: center;
        font-weight: bold;
        font-size: 1rem;
        background-image: linear-gradient(0deg, #afd3d1, #29c729);
      }
      .content {
        display: flex;
        width: 100%;
        height: 100%;
        flex: 15;
        align-self: center;
        .ycsxlist {
          display: flex;
          flex-direction: column;
          flex: 1.5;
          height: 100%;
          padding: 2px;
          .tracuuYCSX {
            display: flex;
            flex-direction: column;
            height: 100%;
            .tracuuYCSXform {
              display: flex;
              flex-direction: column;
              align-items: center;
              flex: 0.5;
              font-size: 0.6rem;
              background-image: linear-gradient(0deg, #afd3d1, #61d3c9);
              -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
              box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
              border-radius: 3px;
              padding: 5px;
              span {
                padding: 10px;
                font-size: 12px;
                margin: auto;
              }
              .forminput {
                display: flex;
                gap: 5px;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-around;
                padding: 2px;
                width: 100%;
                .forminputcolumn {
                  display: flex;
                  flex-direction: column;
                  gap: 10px;
                  align-items: flex-end;
                  justify-content: center;
                  flex-wrap: wrap;
                  input {
                    font-size: 0.6rem;
                    width: 80px;
                    height: 10px;
                    outline: none;
                    border-radius: 5px;
                    border: none;
                    padding: 5px;
                    margin-left: 5px;
                    background-image: linear-gradient(0deg, #ececec, #9dee95);
                  }
                  select {
                    font-size: 0.5rem;
                    width: 90px;
                    height: 20px;
                    outline: none;
                    border-radius: 5px;
                    border: none;
                    padding: 5px;
                    margin-left: 5px;
                    background-image: linear-gradient(0deg, #ececec, #9dee95);
                  }
                }
              }
              .formbutton {
                display: flex;
                align-items: center;
                justify-content: space-around;
                gap: 20px;
              }
              .formsummary {
                display: flex;
                flex-direction: row;
                background-image: linear-gradient(0deg, #ececec, #99f86d);
                -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
                box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
                gap: 20px;
                border-radius: 5px;
                margin-top: 5px;
                .summarygroup {
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  justify-items: flex-start;
                  gap: 10px;
                  .summaryvalue {
                    display: flex;
                    font-size: 16px;
                    justify-self: flex-end;
                    align-self: flex-end;
                    padding: 5px;
                    color: rgb(83, 36, 255);
                  }
                }
              }
            }
            .tracuuYCSXTable {
              display: flex;
              flex: 3;
              background-image: linear-gradient(0deg, #afd3d1, #6dd1f8);
              -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
              box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
              border-radius: 8px;
            }
            .printycsxpage {
              position: fixed;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              z-index: 3;
              width: fit-content;
              height: 200mm;
              align-items: center;
              padding: 10px;
              gap: 20px;
              border-radius: 5px;
              -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
              box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
              //background-color: rgba(233, 222, 222, 0.664);
              background-color: white;
              top: 50px;
              left: 30%;
              .buttongroup {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                gap: 5px;
              }
              .ycsxrender {
                overflow: scroll;
                border: 1px solid black;
                background-color: white;
              }
            }
            .khoaodiv {
              position: fixed;
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              z-index: 3;
              width: 98%;
              height: 90vh;
              align-items: center;
              padding: 10px;
              gap: 20px;
              border-radius: 5px;
              -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
              box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
              //background-color: rgba(233, 222, 222, 0.664);
              background-color: rgba(255, 255, 255, 0.78);
              top: 70px;
              left: 0.5%;
              z-index: 10;
              .buttongroup {
                display: flex;
                flex-direction: row;
                width: 100%;
                gap: 5px;
              }
              .khoaodivtable {
                display: flex;
                background-color: transparent;
                height: 100%;
                width: 100%;
                gap: 10px;
                .tablekhoao {
                  display: flex;
                  flex: 2.5;
                  flex-direction: column;
                  border-radius: 5px;
                  gap: 10px;
                  background-color: transparent;
                  box-shadow: 5px 5px 15px 5px rgba(255, 255, 255, 0.17);
                  .tabletonkhoao {
                    display: flex;
                    flex: 1;
                    background-image: linear-gradient(0deg, #afd3d1, #f7b7f1);
                  }
                  .lichsuinputsanxuat {
                    display: flex;
                    flex: 1;
                    background-image: linear-gradient(0deg, #afd3d1, #4eaae7);
                  }
                }
                .nhapxuatkhoao {
                  display: flex;
                  flex-direction: column;
                  height: 100%;
                  gap: 10px;
                  flex: 3;
                  .nhapkhoao {
                    display: flex;
                    background-image: linear-gradient(0deg, #afd3d1, #4be7ec);
                    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
                    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
                  }
                  .xuatkhoao {
                    display: flex;
                    background-image: linear-gradient(0deg, #afd3d1, #f7d36e);
                    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
                    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
                  }
                }
              }
            }
          }
        }
        .chithidiv {
          display: flex;
          flex-direction: column;
          flex: 3;
          padding: 2px;
          height: 100%;
          gap: 2px;
          .printycsxpage {
            position: fixed;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            z-index: 3;
            width: fit-content;
            height: 200mm;
            align-items: center;
            padding: 10px;
            gap: 20px;
            border-radius: 5px;
            -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
            box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
            //background-color: rgba(233, 222, 222, 0.664);
            background-color: white;
            top: 50px;
            left: 30%;
            .buttongroup {
              display: flex;
              flex-direction: row;
              align-items: flex-start;
              gap: 5px;
            }
            .ycsxrender {
              overflow: scroll;
              border: 1px solid black;
              background-color: white;
            }
          }
          .khoaodiv {
            position: fixed;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            z-index: 3;
            width: 98%;
            height: 90vh;
            align-items: center;
            padding: 10px;
            gap: 20px;
            border-radius: 5px;
            -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
            box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
            //background-color: rgba(233, 222, 222, 0.664);
            background-color: rgba(255, 255, 255, 0.78);
            top: 70px;
            left: 0.5%;
            z-index: 10;
            .buttongroup {
              display: flex;
              flex-direction: row;
              width: 100%;
              gap: 5px;
            }
            .khoaodivtable {
              display: flex;
              background-color: transparent;
              height: 100%;
              width: 100%;
              gap: 10px;
              .tablekhoao {
                display: flex;
                flex: 2.5;
                flex-direction: column;
                border-radius: 5px;
                gap: 10px;
                background-color: transparent;
                box-shadow: 5px 5px 15px 5px rgba(255, 255, 255, 0.17);
                .tabletonkhoao {
                  display: flex;
                  flex: 1;
                  background-image: linear-gradient(0deg, #afd3d1, #f7b7f1);
                }
                .lichsuinputsanxuat {
                  display: flex;
                  flex: 1;
                  background-image: linear-gradient(0deg, #afd3d1, #4eaae7);
                }
              }
              .nhapxuatkhoao {
                display: flex;
                flex-direction: column;
                height: 100%;
                gap: 10px;
                flex: 3;
                .nhapkhoao {
                  display: flex;
                  background-image: linear-gradient(0deg, #afd3d1, #4be7ec);
                  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
                  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
                }
                .xuatkhoao {
                  display: flex;
                  background-image: linear-gradient(0deg, #afd3d1, #f7d36e);
                  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
                  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
                }
              }
            }
          }
          .listchithi {
            display: flex;
            height: 44%;
            .planlist {
              display: flex;
              height: 100%;
              background-image: linear-gradient(0deg, #afd3d1, #66c4f0);
              flex: 1;
              border-radius: 5px;
              box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
            }
            .toolbar {
              display: flex;
              height: auto;
              align-items: center;
              background-color: #b2ffa0;   
              .css-78trlr-MuiButtonBase-root-MuiIconButton-root {
                padding: 0px;
                padding-right: 10px;      
              }
            }
            .ag-theme-quartz input[class^=ag-]:not([type]),
            .ag-theme-quartz input[class^=ag-][type=text],
            .ag-theme-quartz input[class^=ag-][type=number],
            .ag-theme-quartz input[class^=ag-][type=tel],
            .ag-theme-quartz input[class^=ag-][type=date],
            .ag-theme-quartz input[class^=ag-][type=datetime-local],
            .ag-theme-quartz textarea[class^=ag-],
            .ag-theme-quartz-dark input[class^=ag-]:not([type]),
            .ag-theme-quartz-dark input[class^=ag-][type=text],
            .ag-theme-quartz-dark input[class^=ag-][type=number],
            .ag-theme-quartz-dark input[class^=ag-][type=tel],
            .ag-theme-quartz-dark input[class^=ag-][type=date],
            .ag-theme-quartz-dark input[class^=ag-][type=datetime-local],
            .ag-theme-quartz-dark textarea[class^=ag-],
            .ag-theme-quartz-auto-dark input[class^=ag-]:not([type]),
            .ag-theme-quartz-auto-dark input[class^=ag-][type=text],
            .ag-theme-quartz-auto-dark input[class^=ag-][type=number],
            .ag-theme-quartz-auto-dark input[class^=ag-][type=tel],
            .ag-theme-quartz-auto-dark input[class^=ag-][type=date],
            .ag-theme-quartz-auto-dark input[class^=ag-][type=datetime-local],
            .ag-theme-quartz-auto-dark textarea[class^=ag-] {
              min-height: calc(var(--ag-grid-size)* 2.5);
              border-radius: var(--ag-border-radius);
            }
            .ag-theme-quartz {
              flex: 1;
              .ag-row-even .ag-row .ag-row-level-0 .ag-row-position-absolute .ag-row-not-inline-editing .ag-row-focus .ag-row-selected {
                background-color: #b2ffa0;
              }
              .ag-row-odd .ag-row .ag-row-level-0 .ag-row-position-absolute .ag-row-not-inline-editing .ag-row-selected .ag-row-no-focus {
                background-color: #b2ffa0;
              }
              .ag-header-cell {
                /* background-image: linear-gradient(0deg, rgba(77, 175, 252,1), rgba(159, 212, 254,1)); */
                background-color: rgb(230, 236, 241);
                color: rgb(5, 84, 162);
                /* White text */
                font-weight: bold;
                text-align: center;
                font-size: 0.6rem;
                border-right: 1px solid #cccccc !important;
                /* Light gray border */
                padding-left: 2px;
                padding-right: 2px;
                .ag-input-field-input,
                .ag-text-field-input {
                  background-color: #f0f7ec;
                  padding: 0;
                }
              }
              .ag-row-selected {
                background-color: #ecb4b4 !important;
                /* Set your desired background color */
              }
              /* Add border to the right of each data cell */
              .ag-cell {
                border-right: 1px solid #ccc !important;
                padding: 0;
                /* Light gray border */
              }
              /* Remove the right border for the last column */
              .ag-header-cell:last-child,
              .ag-cell:last-child {
                border-right: none;
              }
              .ag-floating-filter-input {
                height: 22px;
                /* Set your desired height */
                line-height: 40px;
                /* Set the line height to match for proper text alignment */
                padding: 1;
              }
              
            }
            .bottombar {
              display: flex;
              height: auto;
              align-items: center;
              justify-content: space-between;
              background-color: #b2ffa0;
              padding-left: 10px;
              padding-right: 10px;
              font-size: 0.8rem;
            }
          }
          .datadinhmucto {
            display: flex;
            height: 12%;
            flex-direction: column;
            background-image: linear-gradient(0deg, #afd3d1, #25d468);
            gap: 0px;
            padding: 5px;
            margin-top: 0px;
            .datadinhmuc {
              display: flex;
              gap: 2px;
              border-radius: 2px;
              font-size: 0.7rem;
              .forminputcolumn {
                display: flex;
                flex-direction: column;
                gap: 2px;
                align-items: flex-end;
                justify-content: center;
                flex-wrap: wrap;
                input {
                  font-size: 0.6rem;
                  width: 80px;
                  height: 15px;
                  outline: none;
                  border-radius: 5px;
                  border: none;
                  padding: 5px;
                  margin-left: 5px;
                  background-image: linear-gradient(0deg, #ececec, #9dee95);
                }
                select {
                  font-size: 0.6rem;
                  width: 90px !important;
                  height: 25px !important;
                  outline: none;
                  border-radius: 5px;
                  border: none;
                  padding: 5px;
                  margin-left: 5px;
                  background-image: linear-gradient(0deg, #ececec, #9dee95);
                }
              }
            }
            box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
            -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
          }
          .listlieuchithi {
            display: flex;
            height: 44%;
            .title{
              display: flex;
              flex-direction: column;   
              align-content: flex-start;   
              justify-content: flex-start;
              align-items: center;       
              background-image: linear-gradient(0deg, #afd3d1, #d5a4fa);
              padding: 5px;
              .planinfo {
                display: flex;
                flex-direction: column;
                gap: 10px;
                .forminputcolumn {
                  display: flex;
                  flex-direction: column;
                  gap: 5px;
                  align-items: flex-end;
                  justify-content: center;
                  flex-wrap: wrap;
                  font-size: 0.8rem;
                  input {
                    font-size: 0.8rem;
                    width: 150px;
                    height: 15px;
                    outline: none;
                    border-radius: 5px;
                    border: none;
                    padding: 5px;
                    margin-left: 5px;
                    background-image: linear-gradient(0deg, #ececec, #9dee95);
                  }
                  select {
                    font-size: 0.8rem;
                    width: 90px !important;
                    height: 25px !important;
                    outline: none;
                    border-radius: 5px;
                    border: none;
                    padding: 5px;
                    margin-left: 5px;
                    background-image: linear-gradient(0deg, #ececec, #9dee95);
                  }
                }
                .formbutton {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  padding: 5px;
                }

              }
            }
            .chithitable {
              display: flex;
              background-image: linear-gradient(0deg, #afd3d1, #df81f6);
              flex: 1;
              border-radius: 5px;
              box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .machineplan {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    z-index: 0;
    .mininavbar {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 5px;
      margin-top: 5px;
      .mininavitem {
        padding: 5px;
        background-color: rgb(86, 163, 226);
        margin-left: 5px;
        border-radius: 5px;
        color: white;
        -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
        box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.27);
        &:hover {
          background-color: rgb(127, 219, 255);
          cursor: pointer;
          color: black;
        }
      }
    }
    .plandateselect {
      .inputdata {
        padding-left: 5px;
        margin-left: 2px;
        width: 310px;
        height: 35px;
        background-color: transparent;
        outline: none;
        border: solid 0.5px;
        border-color: rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        font-size: 16px;
        margin-left: 20px;
        color: black;
      }
    }
    .NM1 {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      margin-left: 15px;
      margin-right: 15px;
      background-color: rgba(198, 219, 77, 0.2);
      padding: 20px;
      box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
      -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
      border-radius: 5px;
      .machine_title {
        font-size: 30px;
        font-weight: bold;
        color: blue;
      }
      .FRlist {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        border: 1px solid black;
        border-width: 3px;
        border-radius: 5px;
        padding: 10px;
        margin-left: 10px;
        margin-right: 10px;
        align-items: center;
        flex-wrap: wrap;
      }
      .SRlist {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        border: 1px solid black;
        border-width: 3px;
        border-radius: 5px;
        padding: 10px;
        margin-left: 10px;
        margin-right: 10px;
        align-items: center;
        flex-wrap: wrap;
      }
      .DClist {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        border: 1px solid black;
        border-width: 3px;
        border-radius: 5px;
        padding: 10px;
        margin-left: 10px;
        margin-right: 10px;
        align-items: center;
        flex-wrap: wrap;
      }
      .EDlist {
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        border: 1px solid black;
        border-width: 3px;
        padding: 10px;
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
        justify-content: space-around;
      }
    }
    .NM2 {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      margin-left: 15px;
      margin-right: 15px;
      background-color: rgba(238, 148, 230, 0.2);
      padding: 20px;
      box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
      -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
      border-radius: 5px;
      .machine_title {
        font-size: 30px;
        font-weight: bold;
        color: blue;
      }
      .FRlist {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        border: 1px solid black;
        border-width: 3px;
        border-radius: 5px;
        padding: 10px;
        margin-left: 10px;
        margin-right: 10px;
        align-items: center;
        flex-wrap: wrap;
      }
      .EDlist {
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        border: 1px solid black;
        border-width: 3px;
        padding: 10px;
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
        justify-content: space-around;
      }
    }
    .NM2 {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      margin-left: 15px;
      margin-right: 15px;
      background-color: rgb(238, 148, 230);
      padding: 20px;
      box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
      -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
      border-radius: 5px;
      .machine_title {
        font-size: 30px;
        font-weight: bold;
        color: blue;
      }
      .FRlist {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        border: 1px solid black;
        border-width: 3px;
        border-radius: 5px;
        padding: 10px;
        margin-left: 10px;
        margin-right: 10px;
        align-items: center;
        flex-wrap: wrap;
      }
      .EDlist {
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        border: 1px solid black;
        border-width: 3px;
        padding: 10px;
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
        justify-content: space-around;
      }
    }
    .planwindow {
      display: flex;
      flex-direction: column;
      background-color: rgba(255, 255, 255, 0.58);
      width: 100%;
      height: 100%;
      position: fixed;
      box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
      -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
      top: 0;
      justify-self: center;
      align-self: center;
      overflow: scroll;
      margin-top: 70px;
      .title {
        display: flex;
        flex: 1;
        justify-content: space-around;
        align-items: center;
        font-weight: bold;
        font-size: 25px;
        background-image: linear-gradient(0deg, #afd3d1, #25d468);
      }
      .content {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 80%;
        flex: 15;
        align-self: center;
        background-color: white;
        .ycsxlist {
          display: flex;
          flex-direction: column;
          flex: 3;
          height: 100%;
          padding: 10px;
          margin-bottom: 300px;
          .tracuuYCSX {
            .tracuuYCSXform {
              display: flex;
              flex-direction: column;
              align-items: center;
              flex: 1;
              font-size: 12px;
              background-image: linear-gradient(0deg, #afd3d1, #eea94f);
              -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
              box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
              border-radius: 8px;
              padding: 5px;
              &:hover {
                background-image: linear-gradient(0deg, #afd3d1, #eaec67);
              }
              span {
                padding: 10px;
                font-size: 12px;
                margin: auto;
              }
              .forminput {
                display: flex;
                gap: 5px;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-around;
                padding: 2px;
                width: 100%;
                .forminputcolumn {
                  display: flex;
                  flex-direction: column;
                  gap: 10px;
                  align-items: flex-end;
                  justify-content: center;
                  flex-wrap: wrap;
                  input {
                    width: 150px;
                    height: 20px;
                    outline: none;
                    border-radius: 5px;
                    border: none;
                    padding: 5px;
                    margin-left: 5px;
                    background-image: linear-gradient(0deg, #ececec, #9dee95);
                  }
                  select {
                    width: 160px;
                    height: 30px;
                    outline: none;
                    border-radius: 5px;
                    border: none;
                    padding: 5px;
                    margin-left: 5px;
                    background-image: linear-gradient(0deg, #ececec, #9dee95);
                  }
                }
              }
              .formbutton {
                display: flex;
                align-items: center;
                justify-content: space-around;
                gap: 20px;
              }
              .formsummary {
                display: flex;
                flex-direction: row;
                background-image: linear-gradient(0deg, #ececec, #99f86d);
                -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
                box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
                gap: 20px;
                border-radius: 5px;
                margin-top: 5px;
                .summarygroup {
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  justify-items: flex-start;
                  gap: 10px;
                  .summaryvalue {
                    display: flex;
                    font-size: 16px;
                    justify-self: flex-end;
                    align-self: flex-end;
                    padding: 5px;
                    color: rgb(83, 36, 255);
                  }
                }
              }
            }
            .tracuuYCSXTable {
              display: flex;
              margin-top: 10px;
              height: 65vh;
              background-image: linear-gradient(0deg, #afd3d1, #6dd1f8);
              -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
              box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
              border-radius: 8px;
            }
            .printycsxpage {
              position: fixed;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              z-index: 3;
              width: fit-content;
              height: 200mm;
              align-items: center;
              padding: 10px;
              gap: 20px;
              border-radius: 5px;
              -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
              box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
              //background-color: rgba(233, 222, 222, 0.664);
              background-color: white;
              top: 50px;
              left: 30%;
              .buttongroup {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                gap: 5px;
              }
              .ycsxrender {
                overflow: scroll;
                border: 1px solid black;
                background-color: white;
              }
            }
            .khoaodiv {
              position: fixed;
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              z-index: 3;
              width: 98%;
              height: 90vh;
              align-items: center;
              padding: 10px;
              gap: 20px;
              border-radius: 5px;
              -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
              box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
              //background-color: rgba(233, 222, 222, 0.664);
              background-color: rgba(255, 255, 255, 0.78);
              top: 70px;
              left: 0.5%;
              z-index: 10;
              .buttongroup {
                display: flex;
                flex-direction: row;
                width: 100%;
                gap: 5px;
              }
              .khoaodivtable {
                display: flex;
                background-color: transparent;
                height: 100%;
                width: 100%;
                gap: 10px;
                .tablekhoao {
                  display: flex;
                  flex: 2.5;
                  flex-direction: column;
                  border-radius: 5px;
                  gap: 10px;
                  background-color: transparent;
                  box-shadow: 5px 5px 15px 5px rgba(255, 255, 255, 0.17);
                  .tabletonkhoao {
                    display: flex;
                    flex: 1;
                    background-image: linear-gradient(0deg, #afd3d1, #f7b7f1);
                  }
                  .lichsuinputsanxuat {
                    display: flex;
                    flex: 1;
                    background-image: linear-gradient(0deg, #afd3d1, #4eaae7);
                  }
                }
                .nhapxuatkhoao {
                  display: flex;
                  flex-direction: column;
                  height: 100%;
                  gap: 10px;
                  flex: 3;
                  .nhapkhoao {
                    display: flex;
                    background-image: linear-gradient(0deg, #afd3d1, #4be7ec);
                    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
                    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
                  }
                  .xuatkhoao {
                    display: flex;
                    background-image: linear-gradient(0deg, #afd3d1, #f7d36e);
                    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
                    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
                  }
                }
              }
            }
          }
        }
        .chithidiv {
          display: flex;
          flex-direction: column;
          padding: 10px;
          gap: 10px;
          height: 3000px;
          .listchithi {
            display: flex;
            height: 500px;
            .planlist {
              display: flex;
              background-image: linear-gradient(0deg, #afd3d1, #66c4f0);
              height: 100%;
              border-radius: 5px;
              box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
            }
          }
          .datadinhmuc {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            background-image: linear-gradient(0deg, #afd3d1, #25d468);
            padding: 20px;
            gap: 2px;
            border-radius: 5px;
            box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
            -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
            .forminputcolumn {
              display: flex;
            }
          }
          .listlieuchithi {
            display: flex;
            height: 700px;
            .chithitable {
              display: flex;
              background-image: linear-gradient(0deg, #afd3d1, #f5df7e);
              height: 100%;
              border-radius: 5px;
              box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 320px) {}