.chart {
  width: 100%;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.29);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  .title {
    font-weight: bold;
    font-size: 16px;
    color: gray;
    margin-left: 20px;
    margin-bottom: 10px;
  }
  .chartGrid {
    stroke: gray;
  }
}
