.quanlyphongbannhansu {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  .mininavbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 5px;
    margin-top: 5px;

    .mininavitem {
      padding: 10px;
      margin-left: 5px;
      border-radius: 5px;
      font-size: 0.7rem;
      padding: 5px;
      -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
      box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.27);
      &:hover {
        cursor: pointer;
        color: black;
      }
    }
  }

  @media only screen and (max-width: 5000px) {
    .quanlyphongban {
      display: flex;
      height: fit-content;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      width: 100%;

      .showhidebutton {
        width: 150px;
        background-color: #44ce67;
        /* Green */
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 0.8rem;
        border-radius: 5px;
        outline: none;
        box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        &:hover {
          background-color: #22fd7e;
        }
      }

      .maindept {
        display: flex;
        flex: 1;
        height: fit-content;
        width: fit-content;
        background-image: linear-gradient(0deg, #afd3d1, #35a9f7);
        border-radius: 5px;
        box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);

        .maindept_table {
          align-items: center;
          justify-content: center;
          justify-self: center;
          padding: 20px;
          min-height: 450px;
          width: 620px;
          border-radius: 5px;
        }
        .maindeptform {
          display: flex;
          flex-direction: column;
          gap: 10px;
          padding: 10px;
          width: 335px;
          align-items: center;
          justify-content: space-around;

          .maindeptinput {
            display: flex;
            flex-direction: row;
            gap: 20px;
            .maindeptinputlabel {
              display: flex;
              font-size: 0.8rem;
            }
            .maindeptinputbox {
              display: flex;
              flex-direction: column;
              gap: 8px;
              font-size: 0.7rem;
            }
          }

          .maindeptbutton {
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: space-evenly;
            font-size: 0.8rem;
            .thembutton {
              background-color: #21a73e;
              font-size: 0.8rem;
              /* Green */
              border: none;
              color: white;
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              border-radius: 5px;
              outline: none;
              box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              &:hover {
                background-color: #22fd7e;
              }
            }
            .suabutton {
              background-color: #ddff19;
              font-size: 0.8rem;
              /* Green */
              border: none;
              color: rgb(7, 32, 255);
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              border-radius: 5px;
              outline: none;
              box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              &:hover {
                background-color: #22fd7e;
              }
            }
            .xoabutton {
              background-color: #3633f7;
              font-size: 0.8rem;
              /* Green */
              border: none;
              color: rgb(194, 255, 28);
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              border-radius: 5px;
              outline: none;
              box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              &:hover {
                background-color: #dde020;
                color: #35a9f7;
              }
            }
          }
        }
      }

      .subdept {
        display: flex;
        flex: 1;
        height: fit-content;
        background-image: linear-gradient(0deg, #afd3d1, #f187c5);
        border-radius: 5px;
        width: fit-content;
        box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);

        .subdept_table {
          align-items: center;
          justify-content: center;
          justify-self: center;
          padding: 20px;
          min-height: 450px;
          width: 620px;
          border-radius: 5px;
        }
        .subdeptform {
          display: flex;
          flex-direction: column;
          gap: 10px;
          padding: 15px;
          width: 325px;
          align-items: center;
          justify-content: space-around;

          .subdeptinput {
            display: flex;
            flex-direction: row;
            gap: 20px;
            .subdeptinputlabel {
              display: flex;
              font-size: 0.8rem;
            }
            .subdeptinputbox {
              display: flex;
              flex-direction: column;
              gap: 8px;
              font-size: 0.7rem;
            }
          }
          .subdeptbutton {
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: space-evenly;
            .thembutton {
              background-color: #21a73e;
              /* Green */
              border: none;
              color: white;
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 0.8rem;
              border-radius: 5px;
              outline: none;
              box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              &:hover {
                background-color: #22fd7e;
              }
            }
            .suabutton {
              background-color: #ddff19;
              /* Green */
              border: none;
              color: rgb(7, 32, 255);
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 0.8rem;
              border-radius: 5px;
              outline: none;
              box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              &:hover {
                background-color: #22fd7e;
              }
            }
            .xoabutton {
              background-color: #3633f7;
              /* Green */
              border: none;
              color: rgb(194, 255, 28);
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 0.8rem;
              border-radius: 5px;
              outline: none;
              box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              &:hover {
                background-color: #dde020;
                color: #35a9f7;
              }
            }
          }
        }
      }

      .workposition {
        display: flex;
        flex: 1;
        height: fit-content;
        width: fit-content;
        background-image: linear-gradient(0deg, #afd3d1, #5bee5b);
        border-radius: 5px;
        box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);

        .workposition_table {
          align-items: center;
          justify-content: center;
          justify-self: center;
          padding: 20px;
          min-height: 450px;
          width: 620px;
          border-radius: 5px;
        }
        .workpositionform {
          display: flex;
          flex-direction: column;
          padding: 10px;

          gap: 10px;
          align-items: center;
          justify-content: space-around;
          .workpositioninput {
            display: flex;
            flex-direction: row;
            gap: 20px;
            .workpositioninputlabel {
              display: flex;
              font-size: 0.8rem;
            }
            .workpositioninputbox {
              display: flex;
              flex-direction: column;
              gap: 8px;
              font-size: 0.7rem;
            }
          }
          .workpositionbutton {
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: space-evenly;
            .thembutton {
              background-color: #21a73e;
              /* Green */
              border: none;
              color: white;
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 0.8rem;
              border-radius: 5px;
              outline: none;
              box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              &:hover {
                background-color: #22fd7e;
              }
            }
            .suabutton {
              background-color: #ddff19;
              /* Green */
              border: none;
              color: rgb(7, 32, 255);
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 0.8rem;
              border-radius: 5px;
              outline: none;
              box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              &:hover {
                background-color: #22fd7e;
              }
            }
            .xoabutton {
              background-color: #3633f7;
              /* Green */
              border: none;
              color: rgb(194, 255, 28);
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 0.8rem;
              border-radius: 5px;
              outline: none;
              box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              &:hover {
                background-color: #dde020;
                color: #35a9f7;
              }
            }
          }
        }
      }
    }
    .quanlynhansu {
      display: flex;
      height: 90vh;
      flex-direction: column;
      gap: 10px;

      .showhidebutton {
        width: 150px;
        background-color: #44ce67;
        /* Green */
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 0.8rem;
        border-radius: 5px;
        outline: none;
        box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        &:hover {
          background-color: #22fd7e;
        }
      }

      .maindept {
        display: flex;
        flex-direction: column;
        flex: 1;
        height: fit-content;
        background-image: linear-gradient(0deg, #afd3d1, #6ca0ee);
        border-radius: 5px;
        box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        padding-right: 30px;

        h3 {
          align-self: center;
          padding: 10px;
        }
        .maindept_table {
          align-items: center;
          justify-content: center;
          justify-self: center;
          padding: 20px;
          width: 97%;
          border-radius: 5px;
          height: 48vh;
          margin-left: 10px;
          align-self: center;
          background-image: linear-gradient(0deg, #afd3d1, #2ffc73);
        }
        .maindeptform {
          display: flex;
          flex-direction: column;
          margin-bottom: 30px;
          gap: 10px;
          align-items: center;
          justify-content: space-around;
          padding: 20px;
          height: 30vh;
          .inputform {
            display: flex;
            flex-direction: row;
            width: 100%;
            align-items: center;
            justify-items: center;
            .emplpicture {
              display: flex;
              flex-direction: column;
              width: 20%;
              img {
                border-radius: 5%;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                  0 6px 200px 0 rgba(0, 0, 0, 0.19);
              }
            }
            .maindeptinput {
              display: flex;
              flex-direction: row;
              justify-items: start;
              width: fit-content;
              gap: 20px;
              font-size: 0.8rem;
              .maindeptinputlabel {
                display: flex;
              }
              .maindeptinputbox {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                gap: 15px;
                select {
                  width: 120px;
                  height: 24px;
                  font-size: 0.7rem;
                }
                input {
                  width: 120px;
                  padding-left: 5px;
                  margin-left: 2px;
                  font-size: 0.7rem;
                }
                label {
                  display: flex;
                  flex-direction: row;
                  align-items: flex-end;
                }
              }
            }

            .maindeptbutton {
              display: flex;
              flex-direction: column;
              width: 10%;
              gap: 10px;
              align-items: center;
              justify-content: space-evenly;
              .thembutton {
                background-color: #21a73e;
                /* Green */
                border: none;
                color: white;
                padding: 15px 20px;
                width: 80px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 0.8rem;
                border-radius: 5px;
                outline: none;
                box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
                -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
                -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
                &:hover {
                  background-color: #22fd7e;
                }
              }
              .suabutton {
                background-color: #ddff19;
                /* Green */
                border: none;
                color: rgb(28, 12, 255);
                padding: 15px 20px;
                text-align: center;
                width: 80px;
                text-decoration: none;
                display: inline-block;
                font-size: 0.8rem;
                border-radius: 5px;
                outline: none;
                box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
                -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
                -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
                &:hover {
                  background-color: #22fd7e;
                }
              }
              .xoabutton {
                background-color: #3633f7;
                border: none;
                color: white;
                padding: 15px 20px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                width: 80px;
                font-size: 0.8rem;
                border-radius: 5px;
                outline: none;
                box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
                -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
                -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
                &:hover {
                  background-color: #22fd7e;
                }
              }
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: 768px) {
    * {
      font-size: 12px;
    }
    .quanlyphongban {
      display: flex;
      height: fit-content;
      flex-direction: column;
      gap: 20px;
      width: 100%;

      .showhidebutton {
        width: 150px;
        background-color: #44ce67;
        /* Green */
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 0.8rem;
        border-radius: 5px;
        outline: none;
        box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        &:hover {
          background-color: #22fd7e;
        }
      }

      .maindept {
        display: flex;
        height: 500px;
        width: 100%;
        flex-direction: row;
        flex: 1;
        height: fit-content;
        background-image: linear-gradient(0deg, #afd3d1, #35a9f7);
        border-radius: 5px;
        box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);

        .maindept_table {
          align-items: center;
          justify-content: center;
          justify-self: center;
          padding: 20px;
          min-height: 450px;
          width: 100%;
          flex-grow: 1;
          border-radius: 5px;
          flex: 3;
        }
        .maindeptform {
          display: flex;
          flex-direction: column;
          flex: 1;
          gap: 10px;
          align-items: center;
          justify-content: space-around;
          width: 100%;

          .maindeptinput {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100px;
            .maindeptinputlabel {
              display: flex;
            }
            .maindeptinputbox {
              display: flex;
              flex-direction: column;
              gap: 15px;
              font-size: 0.7rem;
            }
          }
          .maindeptbutton {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
            justify-content: space-evenly;
            .thembutton {
              background-color: #21a73e;
              /* Green */
              border: none;
              color: white;
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 0.8rem;
              border-radius: 5px;
              outline: none;
              box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              &:hover {
                background-color: #22fd7e;
              }
            }
            .suabutton {
              background-color: #ddff19;
              /* Green */
              border: none;
              color: rgb(7, 32, 255);
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 0.8rem;
              border-radius: 5px;
              outline: none;
              box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              &:hover {
                background-color: #22fd7e;
              }
            }
            .xoabutton {
              background-color: #3633f7;
              /* Green */
              border: none;
              color: rgb(194, 255, 28);
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 0.8rem;
              border-radius: 5px;
              outline: none;
              box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              &:hover {
                background-color: #dde020;
                color: #35a9f7;
              }
            }
          }
        }
      }

      .subdept {
        display: flex;
        flex: 1;
        height: fit-content;
        background-image: linear-gradient(0deg, #afd3d1, #f187c5);
        border-radius: 5px;
        box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);

        .subdept_table {
          align-items: center;
          justify-content: center;
          justify-self: center;
          padding: 20px;
          min-height: 450px;
          width: 100%;
          border-radius: 5px;
          flex: 3;
        }
        .subdeptform {
          display: flex;
          flex-direction: column;
          flex: 1;
          gap: 10px;
          align-items: center;
          justify-content: space-around;

          .subdeptinput {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .subdeptinputlabel {
              display: flex;
              font-size: 0.8rem;
            }
            .subdeptinputbox {
              display: flex;
              flex-direction: column;
              gap: 15px;
              width: 100px;
              font-size: 0.7rem;
            }
          }
          .subdeptbutton {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
            justify-content: space-evenly;
            .thembutton {
              background-color: #21a73e;
              /* Green */
              border: none;
              color: white;
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 0.8rem;
              border-radius: 5px;
              outline: none;
              box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              &:hover {
                background-color: #22fd7e;
              }
            }
            .suabutton {
              background-color: #ddff19;
              /* Green */
              border: none;
              color: rgb(7, 32, 255);
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 0.8rem;
              border-radius: 5px;
              outline: none;
              box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              &:hover {
                background-color: #22fd7e;
              }
            }
            .xoabutton {
              background-color: #3633f7;
              /* Green */
              border: none;
              color: rgb(194, 255, 28);
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 0.8rem;
              border-radius: 5px;
              outline: none;
              box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              &:hover {
                background-color: #dde020;
                color: #35a9f7;
              }
            }
          }
        }
      }

      .workposition {
        display: flex;
        flex: 1;
        height: fit-content;
        background-image: linear-gradient(0deg, #afd3d1, #5bee5b);
        border-radius: 5px;
        box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);

        .workposition_table {
          align-items: center;
          justify-content: center;
          justify-self: center;
          padding: 20px;
          min-height: 450px;
          width: 100%;
          border-radius: 5px;
          flex: 3;
        }
        .workpositionform {
          display: flex;
          flex-direction: column;
          flex: 1;
          gap: 10px;
          align-items: center;
          justify-content: space-around;
          .workpositioninput {
            display: flex;
            flex-direction: column;
            gap: 20px;
            .workpositioninputlabel {
              display: flex;
            }
            .workpositioninputbox {
              display: flex;
              flex-direction: column;
              gap: 15px;
              width: 100px;
              font-size: 0.7rem;
            }
          }
          .workpositionbutton {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
            justify-content: space-evenly;
            .thembutton {
              background-color: #21a73e;
              /* Green */
              border: none;
              color: white;
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 0.8rem;
              border-radius: 5px;
              outline: none;
              box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              &:hover {
                background-color: #22fd7e;
              }
            }
            .suabutton {
              background-color: #ddff19;
              /* Green */
              border: none;
              color: rgb(7, 32, 255);
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 0.8rem;
              border-radius: 5px;
              outline: none;
              box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              &:hover {
                background-color: #22fd7e;
              }
            }
            .xoabutton {
              background-color: #3633f7;
              /* Green */
              border: none;
              color: rgb(194, 255, 28);
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 0.8rem;
              border-radius: 5px;
              outline: none;
              box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              &:hover {
                background-color: #dde020;
                color: #35a9f7;
              }
            }
          }
        }
      }
    }
    .quanlynhansu {
      display: flex;
      height: fit-content;
      flex-direction: column;
      gap: 20px;

      .showhidebutton {
        width: 150px;
        background-color: #44ce67;
        /* Green */
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 0.8rem;
        border-radius: 5px;
        outline: none;
        box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        &:hover {
          background-color: #22fd7e;
        }
      }

      .maindept {
        display: flex;
        flex-direction: column;
        flex: 1;
        height: fit-content;
        background-image: linear-gradient(0deg, #afd3d1, #6ca0ee);
        border-radius: 5px;
        box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        padding-right: 30px;
        height: fit-content;
        h3 {
          align-self: center;
          padding: 10px;
        }
        .maindept_table {
          align-items: center;
          justify-content: center;
          justify-self: center;
          width: 100%;
          border-radius: 5px;
          height: 70vh;
          background-image: linear-gradient(0deg, #afd3d1, #2ffc73);
          margin-left: 25px;
        }
        .maindeptform {
          display: flex;
          flex-direction: column;
          margin-bottom: 10px;
          gap: 10px;
          align-items: center;
          justify-content: space-around;
          padding: 20px;
          height: fit-content;

          .inputform {
            display: flex;
            flex-direction: column;
            align-items: center;

            .emplpicture {
              display: flex;
              flex-direction: column;
              margin-bottom: 20px;
              img {
                border-radius: 5%;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                  0 6px 200px 0 rgba(0, 0, 0, 0.19);
              }
            }

            .maindeptinput {
              display: flex;
              flex-direction: column;
              gap: 20px;
              .maindeptinputlabel {
                display: flex;
              }
              .maindeptinputbox {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                gap: 15px;
                select {
                  width: 200px;
                  height: 24px;
                }
                input {
                  padding-left: 5px;
                  margin-left: 2px;
                  font-size: 0.7rem;
                }
                label {
                  display: flex;
                  flex-direction: row;
                  align-items: flex-end;
                }
              }
            }
          }

          .maindeptbutton {
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: space-evenly;
            .thembutton {
              background-color: #21a73e;
              /* Green */
              border: none;
              color: white;
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 0.8rem;
              border-radius: 5px;
              outline: none;
              box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              &:hover {
                background-color: #22fd7e;
              }
            }
            .suabutton {
              background-color: #ddff19;
              /* Green */
              border: none;
              color: rgb(7, 32, 255);
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 0.8rem;
              border-radius: 5px;
              outline: none;
              box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              &:hover {
                background-color: #22fd7e;
              }
            }
            .xoabutton {
              background-color: #3633f7;
              /* Green */
              border: none;
              color: rgb(194, 255, 28);
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 0.8rem;
              border-radius: 5px;
              outline: none;
              box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              &:hover {
                background-color: #dde020;
                color: #35a9f7;
              }
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: 320px) {
  }
}
