.diemdanhnhom {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  align-self: center;

  justify-items: center;
  justify-content: center;
  justify-self: center;
  width: 100%;
  margin-top: 3px;
  gap: 2px;
  .filterform {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 99.5%;
    border-radius: 5px;
    background-image: linear-gradient(0deg, #afd3d1, #a4ec51);
  }
  .maindept_table {
    align-items: center;
    justify-content: center;
    justify-self: center;
    align-self: center;
    padding: 20px;
    width: 97%;
    border-radius: 5px;
    height: 85vh;
    background-image: linear-gradient(0deg, #afd3d1, #f18de1);

    .onoffdiv {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin: 2px;
      width: 100%;
      flex-wrap: wrap;
      font-size: 0.9rem;

      .onoffshowtext {
        font-weight: bold;
        &.A0 {
          color: #ff140b;
        }
        &.A1 {
          color: #058b27;
        }
      }
      &.onbt {
        background-color: #59c0fc;
      }
      &.offbt {
        background-color: #131010;
      }
      gap: 2px;
      .tcbutton {
        background-image: linear-gradient(0deg, #afd3d1, #8248df);
        /* Green */
        border: none;
        color: white;
        padding: 8px 8px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        border-radius: 5px;
        outline: none;
        box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        &:hover {
          background-color: #1deedd;
        }
      }

      .onbutton {
        background-color: #21a73e;
        /* Green */
        border: none;
        color: white;
        padding: 8px 8px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        border-radius: 5px;
        outline: none;
        box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        &:hover {
          background-color: #22fd7e;
        }
      }
      .offbutton {
        background-color: #ff140b;
        /* Green */
        border: none;
        color: white;
        padding: 8px 8px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        border-radius: 5px;
        outline: none;
        box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        &:hover {
          background-color: #fde722;
        }
      }
      .off50button {
        background-color: #d0f13b;
        /* Green */
        border: none;
        color: rgb(0, 0, 0);
        padding: 8px 8px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        border-radius: 5px;
        outline: none;
        box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        &:hover {
          background-color: #fde722;
        }
      }
      .resetbutton {
        background-color: #329cff;
        /* Green */
        border: none;
        color: white;
        padding: 8px 8px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        border-radius: 5px;
        outline: none;
        box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        &:hover {
          background-color: #1deedd;
        }
      }
    }
  }
}
