.plan_status_component {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  width: 100%;
  height: fit-content;
  padding: 5px;
  gap: 5px;
  align-self: center;
  margin-left: 10px;
  font-size: 0.7rem;
  .flag {
    display: flex;
    align-items: center;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
    border-radius: 5px;
    font-size: 0.7rem;
  }
}
