@media only screen and (max-width: 5000px) {
  .sample_monitor {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .tracuuDataInspection {
      width: 100%;
      display: flex;
      gap: 5px;
      .tracuuDataInspectionform {
        display: flex;
        flex-direction: column;
        width: 12%;
        align-items: center;
        background-image: linear-gradient(0deg, #afd3d1, #86cfff);
        -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
        box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
        border-radius: 3px;
        padding: 5px;
        font-size: 0.8rem;
        span {
          padding: 10px;
          font-size: 20px;
          margin: auto;
        }
        .forminput {
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: 5px;
          flex-wrap: wrap;
          align-items: flex-end;
          justify-content: space-around;
          padding: 2px;
          font-size: 0.6rem;
          .forminputcolumn {
            display: flex;
            flex-direction: column;
            gap: 5px;
            align-items: flex-end;
            justify-content: center;
            flex-wrap: wrap;
            input {
              width: 150px;
              height: 15px;
              font-size: 0.6rem;
              outline: none;
              border-radius: 5px;
              border: none;
              padding: 5px;
              margin-left: 5px;
              background-image: linear-gradient(0deg, #ececec, #9dee95);
            }
            select {
              width: 160px;
              height: 25px;
              font-size: 0.6rem;
              outline: none;
              border-radius: 5px;
              border: none;
              padding: 5px;
              margin-left: 5px;
              background-image: linear-gradient(0deg, #ececec, #9dee95);
            }
            .autocomplete {
              background-color: rgba(255, 255, 255, 0);
              position: relative;
              * {
                font-size: 0.8rem;
                background-color: rgba(255, 255, 255, 0);
                margin: 0;
                padding: 1.5px;
              }
              input {
                background-color: white;
                z-index: 1;
                height: 23px;
                width: 150px;
              }
            }
          }
        }
        .formbutton {
          display: flex;
          flex-direction: row;
          font-size: 0.6rem;
          gap: 20px;
          .checkboxdiv {
            display: flex;
            flex-direction: row;
            align-items: center;
            align-self: center;
            align-content: center;
            justify-content: center;
            justify-items: center;
            justify-self: center;
            font-size: 0.6rem;
          }
        }
        .formsummary {
          display: flex;
          flex-direction: row;
          background-image: linear-gradient(0deg, #ececec, #99f86d);
          -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          gap: 20px;
          border-radius: 5px;
          .summarygroup {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-items: flex-start;
            gap: 10px;
            .summaryvalue {
              display: flex;
              font-size: 16px;
              justify-self: flex-end;
              align-self: flex-end;
              padding: 5px;
              color: rgb(83, 36, 255);
            }
          }
        }
      }
      .tracuuYCSXTable {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 94vh;
        background-image: linear-gradient(0deg, #afd3d1, #6dd1f8);
        -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
        box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
        border-radius: 3px;
        .toolbar {
            display: flex;
            background-color: #b2ffa0;
            .headerform {
              display: flex;
              align-items: center;
              justify-content: center;
              
            }
          }
          .ag-theme-quartz input[class^=ag-]:not([type]),
          .ag-theme-quartz input[class^=ag-][type=text],
          .ag-theme-quartz input[class^=ag-][type=number],
          .ag-theme-quartz input[class^=ag-][type=tel],
          .ag-theme-quartz input[class^=ag-][type=date],
          .ag-theme-quartz input[class^=ag-][type=datetime-local],
          .ag-theme-quartz textarea[class^=ag-],
          .ag-theme-quartz-dark input[class^=ag-]:not([type]),
          .ag-theme-quartz-dark input[class^=ag-][type=text],
          .ag-theme-quartz-dark input[class^=ag-][type=number],
          .ag-theme-quartz-dark input[class^=ag-][type=tel],
          .ag-theme-quartz-dark input[class^=ag-][type=date],
          .ag-theme-quartz-dark input[class^=ag-][type=datetime-local],
          .ag-theme-quartz-dark textarea[class^=ag-],
          .ag-theme-quartz-auto-dark input[class^=ag-]:not([type]),
          .ag-theme-quartz-auto-dark input[class^=ag-][type=text],
          .ag-theme-quartz-auto-dark input[class^=ag-][type=number],
          .ag-theme-quartz-auto-dark input[class^=ag-][type=tel],
          .ag-theme-quartz-auto-dark input[class^=ag-][type=date],
          .ag-theme-quartz-auto-dark input[class^=ag-][type=datetime-local],
          .ag-theme-quartz-auto-dark textarea[class^=ag-] {
            min-height: calc(var(--ag-grid-size)* 2.5);
            border-radius: var(--ag-border-radius);
          }
          .ag-row-even .ag-row .ag-row-level-0 .ag-row-position-absolute .ag-row-not-inline-editing .ag-row-focus .ag-row-selected {
            background-color: #b2ffa0;
          }
          .ag-row-odd .ag-row .ag-row-level-0 .ag-row-position-absolute .ag-row-not-inline-editing .ag-row-selected .ag-row-no-focus {
            background-color: #b2ffa0;
          }
          .ag-header-cell {
            /* background-image: linear-gradient(0deg, rgba(77, 175, 252,1), rgba(159, 212, 254,1)); */
            background-color: rgb(230, 236, 241);
            color: rgb(5, 84, 162);
            /* White text */
            font-weight: bold;
            text-align: center;
            font-size: 0.6rem;
            border-right: 1px solid #cccccc;
            /* Light gray border */
            padding-left: 2px;
            padding-right: 2px;
            .ag-input-field-input,
            .ag-text-field-input {
              background-color: #f0f7ec;
              padding: 0;
            }
          }
          .ag-row-selected {
            background-color: #c97373;
            /* Set your desired background color */
          }
          /* Add border to the right of each data cell */
          .ag-cell {
            border-right: 1px solid #ccc;
            /* Light gray border */
          }
          /* Remove the right border for the last column */
          .ag-header-cell:last-child,
          .ag-cell:last-child {
            border-right: none;
          }
          .ag-floating-filter-input {
            height: 22px;
            /* Set your desired height */
            line-height: 40px;
            /* Set the line height to match for proper text alignment */
            padding: 1;
          }
        .datatb {
          justify-items: center;
          width: 99%;
          height: 88vh;
          padding: 5px;
          .losstable {
            display: flex;
            flex-direction: row;
            background-image: linear-gradient(0deg, #afd3d1, #86cfff);
            -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
            box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
            gap: 20px;
            border-radius: 5px;
            padding: 10px;
            font-size: 0.8rem;
            table {
              border: 2px solid gray;
              width: 100%;
              text-align: center;
            }
            table thead tr td {
              font-weight: bold;
              border: 0.5px solid gray;
              padding-left: 10px;
              padding-right: 10px;
            }
            table tbody tr td {
              border: 1px solid gray;
              text-align: center;
            }
          }
          .dx-datagrid-rowsview
            .dx-selection.dx-row:not(.dx-row-focused):not(.dx-row-removed)
            > td {
            background-color: orange;
            color: unset;
          }
          .dx-datagrid-borders > .dx-datagrid-header-panel {
            border-bottom: 0;
            background-color: #b5f398;
          }
          .dx-toolbar .dx-toolbar-items-container {
            height: 25px;
            overflow: visible;
            background-color: #b5f398;
          }
          //toan bo bang
          .dx-gridbase-container > .dx-datagrid-rowsview.dx-scrollable {
            display: -ms-flexbox;
            display: flex;
            background-image: linear-gradient(0deg, #e9e1eb, #f1f5cf);
            font-size: 0.7rem;
          }
          .dx-datagrid-borders > .dx-datagrid-filter-panel,
          .dx-datagrid-borders > .dx-datagrid-headers {
            border-top: 1px solid #ddd;
            background-image: linear-gradient(0deg, #e9e1eb, #a0f87e);
            color: black;
            font-weight: bold;
            font-size: 0.7rem;
          }
          //filter row input
          .dx-datagrid-filter-row
            .dx-editor-cell
            .dx-editor-with-menu
            .dx-placeholder::before,
          .dx-datagrid-filter-row
            .dx-editor-cell
            .dx-editor-with-menu
            .dx-texteditor-input {
            padding-left: 32px;
            background-image: linear-gradient(0deg, #e9e1eb, #a0f87e);
            color: black;
            height: 10px;
          }
          .dx-editor-cell .dx-texteditor,
          .dx-editor-cell .dx-texteditor .dx-texteditor-input {
            background-image: linear-gradient(0deg, #e9e1eb, #a0f87e);
          }
          .dx-searchbox .dx-placeholder::before,
          .dx-searchbox .dx-texteditor-input {
            padding-left: 34px;
            background-image: linear-gradient(0deg, #e9e1eb, #d7f0cd);
          }
          .dx-button-mode-contained {
            background-color: #a0f87e;
            border-color: #cacafa;
            color: #430fff;
          }
          .dx-datagrid-total-footer > .dx-datagrid-content {
            padding-top: 0px;
            padding-bottom: 0px;
          }
        }
      }
      .checkboxcell {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        label {
          display: flex;
          align-items: center;
          justify-content: center;          
        }
      }
      .header {
        font-weight: bold; 
        background-color: rgb(230, 236, 241);
        align-items: center;
        justify-content: center;
        color: #7654ee;
      }
      .pivottable1 {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        position: absolute;
        top: 1vh;
        left: 4%;
        width: 90%;
        height: 80vh;
        overflow: scroll;
        padding: 10px;
        border-radius: 5px;
        background-image: linear-gradient(0deg, #afd3d1, #86cfff);
        -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
        box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.27);
        z-index: 100;
        * {
          font-size: 0.7rem;
        }
      }
      
    }
  }
}
@media only screen and (max-width: 768px) {
  .sample_monitor {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .tracuuDataInspection {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 5px;
      .tracuuDataInspectionform {
        display: flex;
        flex-direction: column;
        width: 100% !important;
        align-items: center;
        background-image: linear-gradient(0deg, #afd3d1, #86cfff);
        -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
        box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
        border-radius: 3px;
        padding: 5px;
        font-size: 0.8rem;
        .forminput {
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: 5px;
          flex-wrap: wrap;
          align-items: flex-end;
          justify-content: space-around;
          padding: 2px;
          font-size: 0.6rem;
          .forminputcolumn {
            display: flex;
            width: 100%;
            flex-direction: column;
            gap: 5px;
            align-items: flex-end;
            justify-content: flex-end;
            flex-wrap: wrap;
            font-size: 0.75rem;
            input {
              width: 250px;
              height: 15px;
              font-size: 0.6rem;
              outline: none;
              border-radius: 5px;
              border: none;
              padding: 5px;
              margin-left: 5px;
              background-image: linear-gradient(0deg, #ececec, #9dee95);
            }
            select {
              width: 260px;
              height: 25px;
              font-size: 0.6rem;
              outline: none;
              border-radius: 5px;
              border: none;
              padding: 5px;
              margin-left: 5px;
              background-image: linear-gradient(0deg, #ececec, #9dee95);
            }
            .autocomplete {
              background-color: rgba(255, 255, 255, 0);
              width: 261px;
              position: relative;
              * {
                font-size: 0.8rem;
                background-color: rgba(255, 255, 255, 0);
                margin: 0;
                padding: 1.5px;
              }
              input {
                background-color: white;
                z-index: 1;
                height: 23px;
              }
            }
          }
        }
        .formbutton {
          display: flex;
          flex-direction: row;
          font-size: 0.6rem;
          gap: 20px;
        }
        .formsummary {
          display: flex;
          flex-direction: row;
          background-image: linear-gradient(0deg, #ececec, #99f86d);
          -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          gap: 20px;
          border-radius: 5px;
          .summarygroup {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-items: flex-start;
            gap: 10px;
            .summaryvalue {
              display: flex;
              font-size: 16px;
              justify-self: flex-end;
              align-self: flex-end;
              padding: 5px;
              color: rgb(83, 36, 255);
            }
          }
        }
      }
      .tracuuYCSXTable {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        background-image: linear-gradient(0deg, #afd3d1, #6dd1f8);
        -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
        box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
        border-radius: 3px;
        .datatb {
          justify-items: center;
          width: 99%;
          height: 88vh;
          padding: 5px;
          .dx-datagrid-rowsview
            .dx-selection.dx-row:not(.dx-row-focused):not(.dx-row-removed)
            > td {
            background-color: orange;
            color: unset;
          }
          .dx-datagrid-borders > .dx-datagrid-header-panel {
            border-bottom: 0;
            background-color: #b5f398;
          }
          .dx-toolbar .dx-toolbar-items-container {
            height: 25px;
            overflow: visible;
            background-color: #b5f398;
          }
          //toan bo bang
          .dx-gridbase-container > .dx-datagrid-rowsview.dx-scrollable {
            display: -ms-flexbox;
            display: flex;
            background-image: linear-gradient(0deg, #e9e1eb, #f1f5cf);
            font-size: 0.7rem;
          }
          .dx-datagrid-borders > .dx-datagrid-filter-panel,
          .dx-datagrid-borders > .dx-datagrid-headers {
            border-top: 1px solid #ddd;
            background-image: linear-gradient(0deg, #e9e1eb, #a0f87e);
            color: black;
            font-weight: bold;
            font-size: 0.7rem;
          }
          //filter row input
          .dx-datagrid-filter-row
            .dx-editor-cell
            .dx-editor-with-menu
            .dx-placeholder::before,
          .dx-datagrid-filter-row
            .dx-editor-cell
            .dx-editor-with-menu
            .dx-texteditor-input {
            padding-left: 32px;
            background-image: linear-gradient(0deg, #e9e1eb, #a0f87e);
            color: black;
            height: 10px;
          }
          .dx-editor-cell .dx-texteditor,
          .dx-editor-cell .dx-texteditor .dx-texteditor-input {
            background-image: linear-gradient(0deg, #e9e1eb, #a0f87e);
          }
          .dx-searchbox .dx-placeholder::before,
          .dx-searchbox .dx-texteditor-input {
            padding-left: 34px;
            background-image: linear-gradient(0deg, #e9e1eb, #d7f0cd);
          }
          .dx-button-mode-contained {
            background-color: #a0f87e;
            border-color: #cacafa;
            color: #430fff;
          }
          .dx-datagrid-total-footer > .dx-datagrid-content {
            padding-top: 0px;
            padding-bottom: 0px;
          }
        }
      }
      .pivottable1 {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        position: absolute;
        top: 1vh;
        left: 1%;
        width: 95%;
        height: 85vh;
        overflow: scroll;
        padding: 10px;
        border-radius: 5px;
        background-image: linear-gradient(0deg, #afd3d1, #86cfff);
        -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
        box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.27);
        z-index: 100;
        * {
          font-size: 0.7rem;
        }
      }
    }
  }
}
