.widget {
  display: flex;
  flex: 1;
  padding: 10px;
  justify-content: space-between;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.29);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  height: 100px;
  margin-top: 5px;
  .left,
  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .title {
      font-weight: bold;
      font-size: 16px;
      color: rgb(40, 13, 158);
    }
    .counter {
      font-size: 20px;
      font-weight: bold;
    }
    .link {
      width: max-content;
      font-size: 12px;
      border-bottom: 1px solid gray;
    }
    .percentage {
      display: flex;
      align-items: center;
      font-size: 14px;
      &.positive {
        color: green;
      }
      &.negative {
        color: red;
      }
    }
    .icon {
      font-size: 28px;
      padding: 5px;
      border-radius: 5px;
      align-self: flex-end;
    }
  }
}
