.inspect_component {
  width: 130px;
  height: 65px;
  background-image: linear-gradient(0deg, #cbeea3, #1ee4b9);
  border-radius: 5px;
  box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
  .tieude {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: bisque;
    width: 100%;
    align-self: center;
    justify-content: center;
    font-weight: bold;
    font-size: 0.8rem;
    align-items: center;
  }
  .machineplan {
    display: flex;
    overflow-x: inherit;
    flex: 0;
    .codename {
      font-size: 0.7rem;
      font-weight: bold;
    }
    .username {
      font-size: 0.6rem;
    }
  }
}
