@media only screen and (max-width: 15000px) {
  .bom_amazon {
    display: flex;
    flex-direction: column;
    width: 100%;
    .mininavbar {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 5px;
      margin-top: 5px;

      .mininavitem {
        padding: 5px;
        background-color: rgb(86, 163, 226);
        margin-left: 5px;
        border-radius: 5px;
        color: white;
        -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
        box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.27);
        &:hover {
          background-color: rgb(127, 219, 255);
          cursor: pointer;
          color: black;
        }
      }
    }
    .bom_manager_wrapper {
      display: flex;
      height: 100%;

      .left {
        display: flex;
        flex-direction: column;
        flex: 1;
        height: 100%;
        .codemanager {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          flex: 8;
          .tracuuFcst {
            .tracuuFcstform {
              display: flex;
              flex-direction: column;
              align-items: center;
              height: fit-content;
              background-image: linear-gradient(0deg, #afd3d1, #86cfff);
              -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
              box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
              border-radius: 3px;
              padding: 5px;
              font-size: 0.8rem;
              span {
                padding: 10px;
                font-size: 20px;
                margin: auto;
              }

              .forminput {
                display: flex;
                flex-direction: column;
                gap: 5px;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-around;
                padding: 2px;
                width: 100%;

                .forminputcolumn {
                  display: flex;
                  flex-direction: row;
                  gap: 10px;
                  align-items: center;
                  justify-content: center;
                  flex-wrap: wrap;

                  table {
                    border: 3px solid gray;
                    width: 100%;
                  }
                  table thead tr td {
                    font-weight: bold;
                    border: 1px solid gray;
                    padding-left: 10px;
                    padding-right: 10px;
                  }
                  table tbody tr td {
                    border: 1px solid gray;
                  }

                  input {
                    width: 150px;
                    height: 20px;
                    outline: none;
                    border-radius: 5px;
                    border: none;
                    padding: 5px;
                    margin-left: 5px;
                    background-image: linear-gradient(0deg, #ececec, #eee7e7);
                  }

                  .tranhapkiembutton {
                    font-weight: bold;
                    padding-left: 5px;
                    padding-right: 5px;
                    height: 30px;
                    background-color: #99f86d;
                    outline: none;
                    border: none;
                    border-radius: 5px;
                    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
                    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
                    margin-bottom: 5px;
                    margin-top: 5px;
                    &:hover {
                      cursor: pointer;
                      background-color: #54a32f;
                    }
                  }
                  .traxuatkiembutton {
                    font-weight: bold;
                    padding-left: 5px;
                    padding-right: 5px;
                    height: 30px;
                    background-color: #3ebdf8;
                    outline: none;
                    border: none;
                    border-radius: 5px;
                    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
                    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
                    margin-bottom: 5px;
                    margin-top: 5px;
                    &:hover {
                      cursor: pointer;
                      background-color: #1b80af;
                    }
                  }
                }
              }
              .formbutton {
                display: flex;
                align-items: center;
                justify-content: space-around;
                gap: 20px;
              }
            }
            .codeinfotable {
              display: flex;
              margin-top: 5px;
              height: 80vh;
              background-image: linear-gradient(0deg, #afd3d1, #86cfff);
              -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
              box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
              border-radius: 3px;
            }
          }
        }
        .bom_manager_button {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          flex: 1;
          border-radius: 5px;
          margin-bottom: 5px;
          background-image: linear-gradient(0deg, #7ae2f5, #717bd4);
          -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.17);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.17);

          .selectcodephoi {
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-items: center;
            padding: 5px;
            font-size: 0.8rem;
            .codephoiselection {
              justify-self: center;
              align-self: center;
              width: 200px;
              height: 30px;
              font-size: 0.7rem;
              border-radius: 5px;
              padding-left: 10px;
              padding-right: 10px;
            }
          }
        }
      }
      .right {
        display: flex;
        flex-direction: column;
        flex: 4;
        gap: 5px;

        .codeinfobig {
          display: flex;
          gap: 20px;
          padding: 5px;
          background-image: linear-gradient(0deg, #7ae2f5, #5565f2);
          -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.17);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.17);
          color: rgb(0, 0, 0);
          border-radius: 5px;
          margin-left: 5px;
          margin-right: 5px;
          justify-content: center;
          .biginfocms {
            display: flex;
            font-size: 25px;
            font-weight: bold;
            color: rgb(255, 252, 67);
          }
          .biginfokd {
            display: flex;
            font-size: 25px;
            font-weight: bold;
            color: rgb(255, 255, 255);
          }
        }
        .up {
          display: flex;
          width: 100%;
          height: 87vh;
          .bomsx {
            display: flex;
            flex-direction: column;
            flex: 1;
            flex-grow: 1;
            justify-content: center;
            justify-self: center;

            gap: 10px;
            margin-left: 5px;
            margin-right: 5px;
            -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.17);
            box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.17);
            border-radius: 5px;

            .listamazontable {
              border-radius: 5px;
              display: flex;
              flex-direction: column;
              flex: 1;
              flex-grow: 1;
              justify-content: center;
              justify-self: center;
              -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.17);
              box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.17);
              background-image: linear-gradient(0deg, #afd3d1, #86cfff);
            }
            .bomsxbutton {
              display: flex;
              align-self: center;
              background-color: rgb(223, 231, 188);
              border-radius: 5px;
              gap: 70px;
            }
          }
          .bomgia {
            display: flex;
            flex-direction: column;
            flex: 3;
            background-color: rgb(94, 221, 221);
            gap: 10px;
            margin-left: 5px;
            margin-right: 5px;
            -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.17);
            box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.17);
            border-radius: 5px;
            .bomamazontable {
              border-radius: 5px;
              display: flex;
              flex-direction: column;
              flex: 1;
              flex-grow: 1;
              justify-content: center;
              justify-self: center;
              -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.17);
              box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.17);
              background-image: linear-gradient(0deg, #afd3d1, #86cfff);
            }
            .bomgiabutton {
              display: flex;
              align-self: center;
              background-color: rgb(224, 198, 198);
              border-radius: 5px;
              gap: 70px;
            }
          }
          .product_infor {
            display: flex;
            flex-direction: column;
            flex: 2;
            background-image: linear-gradient(0deg, #afd3d1, #86cfff);
            height: 87vh;
            margin-left: 5px;
            margin-right: 5px;
            -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.17);
            box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.17);
            border-radius: 5px;
            align-items: center;
            justify-content: flex-start;
            justify-items: center;

            .section_title {
              font-weight: bold;
              font-size: 1rem;
              margin-top: 10px;
            }

            .product_image {
              display: flex;
              flex-direction: column;
              margin-top: 20px;
              align-items: center;
              justify-content: flex-start;
              justify-items: center;
              border-radius: 5%;
              img {
                border-radius: 5%;
                -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.17);
                box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.17);
              }
            }
            .amz_prod_name {
              display: flex;
              margin-top: 10px;
              align-items: center;
              justify-content: flex-start;
              justify-items: center;
              textarea {
                color: blue;
                font-size: 26px;
                margin-left: 20px;
                width: 100%;
                height: fit-content;
              }
            }
            .amz_country {
              display: flex;
              margin-top: 10px;
              align-items: center;
              justify-content: flex-start;
              justify-items: center;
              input {
                color: blue;
                font-size: 26px;
                margin-left: 20px;
              }
            }
            .update_prod_info {
              display: flex;
              align-items: center;
              font-size: 20px;
              margin-top: 10px;
              margin: auto;
              margin-left: 120px;
              margin-top: 12px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .bom_amazon {
    display: flex;
    flex-direction: column;
    width: 100%;
    .mininavbar {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 5px;
      margin-top: 5px;

      .mininavitem {
        padding: 5px;
        background-color: rgb(86, 163, 226);
        margin-left: 5px;
        border-radius: 5px;
        color: white;
        -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
        box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.27);
        &:hover {
          background-color: rgb(127, 219, 255);
          cursor: pointer;
          color: black;
        }
      }
    }
    .bom_manager_wrapper {
      display: flex;
      flex-direction: column;
      .left {
        display: flex;
        flex-direction: column;
        flex: 1;
        .codemanager {
          width: 100%;
          height: fit-content;
          display: flex;
          flex-direction: column;
          flex: 8;
          .tracuuFcst {
            .tracuuFcstform {
              display: flex;
              flex-direction: column;
              align-items: center;

              background-image: linear-gradient(0deg, #a5ddee, #9298f5);
              -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
              box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
              border-radius: 3px;
              padding: 5px;
              &:hover {
                background-image: linear-gradient(0deg, #5ae5fd, #5565f2);
              }
              span {
                padding: 10px;
                font-size: 20px;
                margin: auto;
              }

              .forminput {
                display: flex;
                flex-direction: column;
                gap: 5px;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-around;
                padding: 2px;
                width: 100%;

                .forminputcolumn {
                  display: flex;
                  flex-direction: row;
                  gap: 10px;
                  align-items: center;
                  justify-content: center;
                  flex-wrap: wrap;

                  table {
                    border: 3px solid gray;
                    width: 100%;
                  }
                  table thead tr td {
                    font-weight: bold;
                    border: 1px solid gray;
                    padding-left: 10px;
                    padding-right: 10px;
                  }
                  table tbody tr td {
                    border: 1px solid gray;
                  }

                  input {
                    width: 150px;
                    height: 20px;
                    outline: none;
                    border-radius: 5px;
                    border: none;
                    padding: 5px;
                    margin-left: 5px;
                    background-image: linear-gradient(0deg, #ececec, #eee7e7);
                  }

                  .tranhapkiembutton {
                    font-weight: bold;
                    padding-left: 5px;
                    padding-right: 5px;
                    height: 30px;
                    background-color: #99f86d;
                    outline: none;
                    border: none;
                    border-radius: 5px;
                    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
                    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
                    margin-bottom: 5px;
                    margin-top: 5px;
                    &:hover {
                      cursor: pointer;
                      background-color: #54a32f;
                    }
                  }
                  .traxuatkiembutton {
                    font-weight: bold;
                    padding-left: 5px;
                    padding-right: 5px;
                    height: 30px;
                    background-color: #3ebdf8;
                    outline: none;
                    border: none;
                    border-radius: 5px;
                    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
                    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
                    margin-bottom: 5px;
                    margin-top: 5px;
                    &:hover {
                      cursor: pointer;
                      background-color: #1b80af;
                    }
                  }
                }
              }
              .formbutton {
                display: flex;
                align-items: center;
                justify-content: space-around;
                gap: 20px;
              }
            }
            .codeinfotable {
              display: flex;
              margin-top: 5px;
              height: 70vh;
              background-image: linear-gradient(0deg, #75ddac, #4ecde4);
              -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
              box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
              border-radius: 3px;
            }
          }
        }
        .bom_manager_button {
          display: flex;
          flex-direction: column;
          justify-items: center;
          align-items: center;
          flex: 1;
          border-radius: 5px;
          margin-bottom: 5px;
          background-image: linear-gradient(0deg, #7ae2f5, #717bd4);
          -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.17);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.17);

          .selectcodephoi {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-items: center;
            align-content: center;
            padding: 20px;
            .codephoiselection {
              justify-self: center;
              align-self: center;
              width: 250px;
              height: 30px;
              border-radius: 5px;
              padding-left: 10px;
              padding-right: 10px;
            }
          }
        }
      }
      .right {
        display: flex;
        flex-direction: column;
        flex: 4;
        gap: 15px;

        .codeinfobig {
          display: flex;
          gap: 20px;
          padding: 20px;
          background-image: linear-gradient(0deg, #7ae2f5, #5565f2);
          -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.17);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.17);
          color: rgb(0, 0, 0);
          border-radius: 5px;
          margin-left: 5px;
          margin-right: 5px;
          justify-content: center;
          .biginfocms {
            display: flex;
            font-size: 18px;
            font-weight: bold;
            color: rgb(255, 252, 67);
          }
          .biginfokd {
            display: flex;
            font-size: 18px;
            font-weight: bold;
            color: rgb(255, 255, 255);
          }
        }
        .up {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 110vh;
          .bomsx {
            display: flex;
            flex-direction: column;
            flex: 1;
            flex-grow: 1;
            justify-content: center;
            justify-self: center;
            height: 100%;

            gap: 10px;
            margin-left: 5px;
            margin-right: 5px;
            -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.17);
            box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.17);
            border-radius: 5px;
            .listamazontable {
              border-radius: 5px;
              display: flex;
              flex-direction: column;
              flex: 1;
              flex-grow: 1;
              justify-content: center;
              justify-self: center;
              -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.17);
              box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.17);
              background-image: linear-gradient(0deg, #cbe79d, #5565f2);
            }
          }
          .bomgia {
            display: flex;
            flex-direction: column;
            flex: 2;
            background-color: rgb(94, 221, 221);
            gap: 10px;
            margin-left: 5px;
            margin-right: 5px;
            -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.17);
            box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.17);
            border-radius: 5px;
            .bomamazontable {
              border-radius: 5px;
              display: flex;
              flex-direction: column;
              flex: 1;
              flex-grow: 1;
              justify-content: center;
              justify-self: center;
              -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.17);
              box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.17);
              background-image: linear-gradient(0deg, #cbe79d, #5565f2);
            }
            .bomgiabutton {
              display: flex;
              align-self: center;
              background-color: rgb(224, 198, 198);
              border-radius: 5px;
              gap: 70px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 320px) {
}
