.buttonIcon {
  font-size: 13px !important;
  color: rgb(59, 45, 182) !important;
}
@media only screen and (max-width: 5000px) {
  .ycsxmanager {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .mininavbar {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 5px;
      margin-top: 5px;

      .mininavitem {
        padding: 5px;
        background-color: rgb(100, 240, 95);
        margin-left: 5px;
        border-radius: 5px;
        font-size: 0.7rem;
        padding: 5px;
        -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
        box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.27);
        &:hover {
          background-color: rgb(127, 219, 255);
          cursor: pointer;
        }
      }
    }

    .newycsx {
      display: flex;
      flex-direction: column;
      background-image: linear-gradient(0deg, #afd3d1, #86cfff);
      border-radius: 5px;

      .batchnewycsx {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .formupload {
          display: flex;
          align-items: center;
          align-self: center;
          margin-top: 10px;
          .upload {
            display: flex;
          }
          .ycsxbutton {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-items: flex-start;
            gap: 10px;
            .checkpobutton {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100px;
              height: 25px;
              background-color: #99f86d;
              outline: none;
              border: none;
              padding: 5px;
              border-radius: 5px;
              -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
              box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
              &:hover {
                background-color: rgb(127, 219, 255);
                cursor: pointer;
              }
            }
            .uppobutton {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100px;
              height: 25px;
              background-color: #ee1010;
              color: white;
              outline: none;
              border: none;
              padding: 5px;
              border-radius: 5px;
              -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
              box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
              &:hover {
                background-color: rgb(127, 219, 255);
                cursor: pointer;
              }
            }
            .clearobutton {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100px;
              height: 25px;
              background-color: #14f1d4;
              color: rgb(0, 0, 0);
              outline: none;
              border: none;
              padding: 5px;
              border-radius: 5px;
              -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
              box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
              &:hover {
                background-color: rgb(127, 219, 255);
                cursor: pointer;
              }
            }
          }
        }
        .insertYCSXTable {
          display: flex;
          width: 99%;
          height: 70vh;
          background-image: linear-gradient(0deg, #afd3d1, #b0e954);
          padding: 10px;
          border-radius: 5px;
        }
      }
    }
    .newamazon {
      display: flex;
      flex-direction: column;
      .amazonInputform {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px;

        background-image: linear-gradient(0deg, #afd3d1, #f1c489);
        -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
        box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
        border-radius: 8px;
        padding: 5px;
        &:hover {
          background-image: linear-gradient(0deg, #afd3d1, #eaec67);
        }
        span {
          padding: 10px;
          font-size: 20px;
          margin: auto;
        }

        .forminput {
          display: flex;
          gap: 5px;
          flex-wrap: wrap;
          align-items: center;
          justify-content: space-around;
          padding: 2px;
          width: 100%;
          flex-direction: column;

          .forminputcolumn {
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: flex-end;
            justify-content: center;
            flex-wrap: wrap;
            .prod_request_info {
              display: flex;
              font-weight: bold;
              gap: 50px;
            }
            input {
              width: 150px;
              height: 20px;
              outline: none;
              border-radius: 5px;
              border: none;
              padding: 5px;
              margin-left: 5px;
              background-image: linear-gradient(0deg, #ececec, #9dee95);
            }
            select {
              width: 160px;
              height: 30px;
              outline: none;
              border-radius: 5px;
              border: none;
              padding: 5px;
              margin-left: 5px;
              background-image: linear-gradient(0deg, #ececec, #9dee95);
            }
          }
        }
        .formbutton {
          display: flex;
          align-items: center;
          justify-content: space-around;
        }
      }

      .batchnewycsx {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .formupload {
          display: flex;
          gap: 20px;

          .checkpobutton {
            display: flex;
            align-items: center;
            justify-content: center;
            width: fit-content;
            height: 15px;
            background-color: #99f86d;
            outline: none;
            border: none;
            padding: 15px;
            border-radius: 5px;
            -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
            box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
            &:hover {
              background-color: rgb(127, 219, 255);
              cursor: pointer;
            }
          }
          .uppobutton {
            display: flex;
            align-items: center;
            justify-content: center;
            width: fit-content;
            height: 15px;
            background-color: #ee1010;
            color: white;
            outline: none;
            border: none;
            padding: 15px;
            border-radius: 5px;
            -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
            box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
            &:hover {
              background-color: rgb(127, 219, 255);
              cursor: pointer;
            }
          }
          .clearobutton {
            display: flex;
            align-items: center;
            justify-content: center;
            width: fit-content;
            height: 15px;
            background-color: #14f1d4;
            color: rgb(0, 0, 0);
            outline: none;
            border: none;
            padding: 15px;
            border-radius: 5px;
            -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
            box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
            &:hover {
              background-color: rgb(127, 219, 255);
              cursor: pointer;
            }
          }
        }
        .insertYCSXTable {
          display: flex;
          width: 99%;
          height: 80vh;
          margin-top: 10px;
          background-image: linear-gradient(0deg, #afd3d1, #d3c7ee);
          padding: 10px;
          border-radius: 2px;
        }
      }
    }
    .tracuuYCSX {
      width: 100%;
      height: 92vh;
      display: flex;
      gap: 10px;
      .tracuuYCSXform {
        display: flex;
        width: 250px;
        height: 99%;
        flex-direction: column;
        align-items: center;
        background-image: linear-gradient(0deg, #afd3d1, #86cfff);
        -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
        box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
        border-radius: 8px;
        padding: 5px;
        span {
          padding: 10px;
          font-size: 20px;
          margin: auto;
        }

        .forminput {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: fit-content;
          gap: 5px;
          flex-wrap: wrap;
          align-items: flex-end;
          justify-content: flex-start;
          padding: 2px;
          font-size: 0.6rem;

          .forminputcolumn {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: flex-end;
            justify-content: flex-end;
            flex-wrap: wrap;
            input {
              width: 125px;
              height: 15px;
              font-size: 0.6rem;
              outline: none;
              border-radius: 5px;
              border: none;
              padding: 5px;
              margin-left: 5px;
              background-image: linear-gradient(0deg, #ececec, #9dee95);
            }
            select {
              width: 135px;
              height: 25px;
              font-size: 0.7rem;
              outline: none;
              border-radius: 5px;
              border: none;
              padding: 5px;
              margin-left: 5px;
              background-image: linear-gradient(0deg, #ececec, #9dee95);
            }
          }
        }
        .formbutton {
          display: flex;
          align-items: center;
          justify-content: space-around;
          font-size: 0.7rem;
          gap: 20px;
        }
        .formsummary {
          display: flex;
          flex-direction: row;
          background-image: linear-gradient(0deg, #ececec, #99f86d);
          -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          gap: 20px;
          border-radius: 5px;
          margin-top: 5px;

          .summarygroup {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-items: flex-start;
            gap: 10px;
            .summaryvalue {
              display: flex;
              font-size: 16px;
              justify-self: flex-end;
              align-self: flex-end;
              padding: 5px;
              color: rgb(83, 36, 255);
            }
          }
        }
      }
      .tracuuYCSXTable {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(0deg, #afd3d1, #86cfff);
        -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
        box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
        border-radius: 8px;       
      }
    }

    .them1ycsx {
      display: flex;
      /* position: fixed;
            z-index: 9999;
            top: 30%;
            left: 30%; */
      .formnho {
        display: flex;
        flex-direction: row;
        flex: 1;
        height: fit-content;
        flex-wrap: wrap;
        background-image: linear-gradient(0deg, #c4cfdb, #45cdff);
        border-radius: 5px;
        box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        padding-right: 30px;

        h3 {
          align-self: center;
          padding: 10px;
        }

        .dangkyform {
          display: flex;
          flex-direction: row;
          margin-bottom: 10px;
          gap: 10px;
          align-items: center;
          justify-content: space-around;
          padding: 10px;
          height: fit-content;
          .dangkyinput {
            display: flex;
            flex-direction: row;
            gap: 20px;
            align-items: center;
            justify-content: flex-end;
            justify-self: center;
            align-content: flex-end;
            align-self: center;
            width: 100%;
            font-size: 0.8rem;

            .dangkyinputbox {
              display: flex;
              flex-direction: column;
              align-items: flex-end;
              gap: 10px;

              .autocomplete1 {
                width: 335px;
                * {
                  font-size: 0.7rem;
                  padding: 10;
                }
                margin-left: 20px;
              }
              .autocomplete {
                width: 135px;
                * {
                  font-size: 0.7rem;
                  padding: 10;
                }
                margin-left: 20px;
              }
              .pono_autocomplete {
                width: 250px;
                * {
                  font-size: 0.7rem;
                  padding: 10;
                }
                margin-left: 20px;
              }

              select {
                width: 135px;
                height: 30px;
                outline: none;
                border-radius: 5px;
                margin-left: 2px;
                padding-left: 5px;
                margin-left: 20px;
                background-color: transparent;
                font-size: 0.7rem;
              }
              .inputdata {
                padding-left: 5px;
                margin-left: 2px;
                width: 130px;
                height: 30px;
                font-size: 0.7rem;
                background-color: transparent;
                outline: none;
                border: solid 0.5px;
                border-color: rgba(0, 0, 0, 0.3);
                border-radius: 5px;
                margin-left: 20px;
                color: black;
              }
              label {
                display: flex;
                flex-direction: row;
                align-items: flex-end;
              }
            }
          }
          .dangkybutton {
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: space-between;
            .thembutton {
              background-color: #21a73e;
              width: 100px;
              /* Green */
              border: none;
              color: white;
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 16px;
              border-radius: 5px;
              outline: none;
              box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              &:hover {
                background-color: #22fd7e;
              }
            }
            .suabutton {
              background-color: #ddff19;
              width: 100px;
              /* Green */
              border: none;
              color: rgb(7, 32, 255);
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 16px;
              border-radius: 5px;
              outline: none;
              box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              &:hover {
                background-color: #22fd7e;
              }
            }
            .closebutton {
              background-color: #be19ff;
              width: 100px;
              /* Green */
              border: none;
              color: rgb(255, 255, 255);
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 16px;
              border-radius: 5px;
              outline: none;
              box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              &:hover {
                background-color: #22fd7e;
              }
            }
            .xoabutton {
              background-color: #3633f7;
              width: 100px;
              /* Green */
              border: none;
              color: rgb(194, 255, 28);
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 16px;
              border-radius: 5px;
              outline: none;
              box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              &:hover {
                background-color: #dde020;
                color: #35a9f7;
              }
            }
          }
        }
      }
    }

    .them1invoice {
      display: flex;
      position: fixed;
      top: 35vh;
      left: 60vh;
      .formnho {
        display: flex;
        flex-direction: column;
        flex: 1;
        height: fit-content;
        flex-wrap: wrap;
        background-image: linear-gradient(0deg, #bbc7d4, #8880f5);
        border-radius: 5px;
        box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        padding-right: 30px;

        h3 {
          align-self: center;
          padding: 10px;
        }
        .maindept_table {
          align-items: center;
          justify-content: center;
          justify-self: center;
          padding: 20px;
          width: 97%;
          border-radius: 5px;
          height: 40vh;
          margin-left: 10px;
          align-self: center;
          background-image: linear-gradient(0deg, #afd3d1, #7fca98);
        }
        .dangkyform {
          display: flex;
          flex-direction: column;
          margin-bottom: 10px;
          gap: 10px;
          align-items: center;
          justify-content: space-around;
          padding: 20px;
          height: fit-content;
          .dangkyinput {
            display: flex;
            flex-direction: row;
            gap: 20px;
            align-items: center;
            justify-content: space-around;
            justify-self: center;
            width: 100%;

            .maindeptinputlabel {
              display: flex;
            }
            .dangkyinputbox {
              display: flex;
              flex-direction: column;
              align-items: flex-end;
              gap: 10px;

              .autocomplete {
                width: 320px;
                margin-left: 20px;
              }
              select {
                width: 200px;
                height: 24px;
              }
              .inputdata {
                padding-left: 5px;
                margin-left: 2px;
                width: 310px;
                height: 35px;
                background-color: transparent;
                outline: none;
                border: solid 0.5px;
                border-color: rgba(0, 0, 0, 0.3);
                border-radius: 5px;
                font-size: 16px;
                margin-left: 20px;
                color: black;
              }
              label {
                display: flex;
                flex-direction: row;
                align-items: flex-end;
              }
            }
          }
          .dangkybutton {
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: space-between;
            .thembutton {
              background-color: #21a73e;
              /* Green */
              border: none;
              color: white;
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 16px;
              border-radius: 5px;
              outline: none;
              box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              &:hover {
                background-color: #22fd7e;
              }
            }
            .suabutton {
              background-color: #ddff19;
              /* Green */
              border: none;
              color: rgb(7, 32, 255);
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 16px;
              border-radius: 5px;
              outline: none;
              box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              &:hover {
                background-color: #22fd7e;
              }
            }
            .closebutton {
              background-color: #be19ff;

              /* Green */
              border: none;
              color: rgb(255, 255, 255);
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 16px;
              border-radius: 5px;
              outline: none;
              box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              &:hover {
                background-color: #22fd7e;
              }
            }
            .xoabutton {
              background-color: #3633f7;
              /* Green */
              border: none;
              color: rgb(194, 255, 28);
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 16px;
              border-radius: 5px;
              outline: none;
              box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              &:hover {
                background-color: #dde020;
                color: #35a9f7;
              }
            }
          }
        }
      }
    }

    .printycsxpage {
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      width: fit-content;
      height: 200mm;
      align-items: center;
      padding: 10px;
      gap: 20px;
      border-radius: 5px;
      -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
      box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
      background-color: rgba(233, 222, 222, 0.664);

      top: 50px;
      left: 30%;

      .buttongroup {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 5px;
      }
      .ycsxrender {
        overflow: scroll;
        border: 1px solid black;
        background-color: white;
      }
    }
    .amazonetab {
      display: flex;
      width: 100%;
      .newamazon {
        display: flex;
        width: 100%;
        align-items: center;
        justify-items: flex-start;
        .amazonInputform {
          display: flex;
          width: 100%;
          justify-items: flex-start;
          align-items: center;
          background-image: linear-gradient(0deg, #afd3d1, #62f284);
          .forminput {
            display: flex;
            align-items: center;
            justify-items: flex-start;

            .forminputcolumn {
              display: flex;
              align-items: center;
              justify-items: flex-start;
            }
            .prod_request_info {
              display: flex;
              gap: 20px;
            }
          }
          .formupload {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-items: flex-start;
            gap: 10px;
            .uploadfile {
              display: flex;
              margin-left: 70px;
            }
            .uploadbutton {
              display: flex;
              gap: 5px;
            }
          }
        }
        .batchnewycsx {
          display: flex;
          width: 100%;
          align-items: center;
          justify-items: center;
          .formupload {
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .ycsxmanager {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .mininavbar {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 5px;
      margin-top: 5px;

      .mininavitem {
        padding: 5px;
        background-color: rgb(100, 240, 95);
        margin-left: 5px;
        border-radius: 5px;
        font-size: 0.7rem;
        padding: 5px;
        -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
        box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.27);
        &:hover {
          background-color: rgb(127, 219, 255);
          cursor: pointer;
        }
      }
    }
    .newycsx {
      display: flex;
      flex-direction: column;
      background-image: linear-gradient(0deg, #afd3d1, #86cfff);
      border-radius: 5px;

      .batchnewycsx {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .formupload {
          display: flex;
          align-items: center;
          align-self: center;
          margin-top: 10px;
          flex-direction: column;
          .upload {
            display: flex;
          }
          .ycsxbutton {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-items: flex-start;
            gap: 10px;
          }
        }
        .insertYCSXTable {
          display: flex;
          width: 99%;
          height: 70vh;
          background-image: linear-gradient(0deg, #afd3d1, #b0e954);
          padding: 10px;
          border-radius: 5px;
        }
      }
    }
    .newamazon {
      display: flex;
      flex-direction: column;
      .amazonInputform {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px;

        background-image: linear-gradient(0deg, #afd3d1, #f1c489);
        -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
        box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
        border-radius: 8px;
        padding: 5px;
        &:hover {
          background-image: linear-gradient(0deg, #afd3d1, #eaec67);
        }
        span {
          padding: 10px;
          font-size: 20px;
          margin: auto;
        }

        .forminput {
          display: flex;
          gap: 5px;
          flex-wrap: wrap;
          align-items: center;
          justify-content: space-around;
          padding: 2px;
          width: 100%;
          flex-direction: column;

          .forminputcolumn {
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: flex-end;
            justify-content: center;
            flex-wrap: wrap;
            .prod_request_info {
              display: flex;
              font-weight: bold;
              gap: 50px;
            }
            input {
              width: 150px;
              height: 20px;
              outline: none;
              border-radius: 5px;
              border: none;
              padding: 5px;
              margin-left: 5px;
              background-image: linear-gradient(0deg, #ececec, #9dee95);
            }
            select {
              width: 160px;
              height: 30px;
              outline: none;
              border-radius: 5px;
              border: none;
              padding: 5px;
              margin-left: 5px;
              background-image: linear-gradient(0deg, #ececec, #9dee95);
            }
          }
        }
        .formbutton {
          display: flex;
          align-items: center;
          justify-content: space-around;
        }
      }

      .batchnewycsx {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .formupload {
          display: flex;
          gap: 20px;
        }
        .insertYCSXTable {
          display: flex;
          width: 99%;
          height: 80vh;
          margin-top: 10px;
          background-image: linear-gradient(0deg, #afd3d1, #d3c7ee);
          padding: 10px;
          border-radius: 2px;
        }
      }
    }

    .tracuuYCSX {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      .tracuuYCSXform {
        display: flex;
        width: 100%;
        height: fit-content;
        flex-direction: column;
        align-items: center;
        background-image: linear-gradient(0deg, #afd3d1, #86cfff);
        -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
        box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
        border-radius: 8px;
        padding: 5px;
        span {
          padding: 10px;
          font-size: 20px;
          margin: auto;
        }

        .forminput {
          display: flex;
          flex-direction: row;
          width: 100%;
          gap: 5px;
          flex-wrap: wrap;
          align-items: flex-end;
          justify-content: space-around;
          padding: 2px;
          font-size: 0.6rem;

          .forminputcolumn {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: flex-end;
            justify-content: flex-end;
            flex-wrap: wrap;
            input {
              width: 125px;
              height: 15px;
              font-size: 0.6rem;
              outline: none;
              border-radius: 5px;
              border: none;
              padding: 5px;
              margin-left: 5px;
              background-image: linear-gradient(0deg, #ececec, #9dee95);
            }
            select {
              width: 135px;
              height: 25px;
              font-size: 0.7rem;
              outline: none;
              border-radius: 5px;
              border: none;
              padding: 5px;
              margin-left: 5px;
              background-image: linear-gradient(0deg, #ececec, #9dee95);
            }
          }
        }
        .formbutton {
          display: flex;
          align-items: center;
          justify-content: space-around;
          font-size: 0.7rem;
          gap: 20px;
        }
        .formsummary {
          display: flex;
          flex-direction: row;
          background-image: linear-gradient(0deg, #ececec, #99f86d);
          -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          gap: 20px;
          border-radius: 5px;
          margin-top: 5px;

          .summarygroup {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-items: flex-start;
            gap: 10px;
            .summaryvalue {
              display: flex;
              font-size: 16px;
              justify-self: flex-end;
              align-self: flex-end;
              padding: 5px;
              color: rgb(83, 36, 255);
            }
          }
        }
      }
      .tracuuYCSXTable {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 85vh;
        background-image: linear-gradient(0deg, #afd3d1, #86cfff);
        -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
        box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
        border-radius: 8px;
      }
    }

    .them1ycsx {
      display: flex;
      width: 100%;
      /* position: fixed;
            z-index: 9999;
            top: 30%;
            left: 30%; */
      .formnho {
        display: flex;
        flex-direction: column;
        flex: 1;
        height: fit-content;
        flex-wrap: wrap;
        background-image: linear-gradient(0deg, #c4cfdb, #45cdff);
        border-radius: 5px;
        box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        padding-right: 30px;

        .dangkyform {
          display: flex;
          flex-direction: column;
          margin-bottom: 10px;
          gap: 10px;
          align-items: center;
          justify-content: space-around;
          padding: 10px;
          height: fit-content;
          .dangkyinput {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
            justify-content: flex-end;
            justify-self: center;
            align-content: flex-end;
            align-self: center;
            width: 100%;
            font-size: 0.8rem;

            .dangkyinputbox {
              display: flex;
              flex-direction: column;
              align-items: flex-end;
              gap: 10px;
              .autocomplete1 {
                width: 260px;
                * {
                  font-size: 0.7rem;
                  padding: 10;
                }
              }
              .autocomplete {
                width: 260px;
                * {
                  font-size: 0.7rem;
                  padding: 10;
                }
              }
              .pono_autocomplete {
                width: 260px;
                * {
                  font-size: 0.7rem;
                  padding: 10;
                }
              }

              select {
                width: 260px;
                height: 30px;
                outline: none;
                border-radius: 5px;
                margin-left: 2px;
                padding-left: 5px;
                background-color: transparent;
                font-size: 0.7rem;
              }
              .inputdata {
                padding-left: 5px;
                margin-left: 2px;
                width: 260px;
                height: 30px;
                font-size: 0.7rem;
                background-color: transparent;
                outline: none;
                border: solid 0.5px;
                border-color: rgba(0, 0, 0, 0.3);
                border-radius: 5px;
                color: black;
              }
              label {
                display: flex;
                flex-direction: row;
                align-items: flex-end;
              }
            }
          }
          .dangkybutton {
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: space-between;
          }
        }
      }
    }

    .them1invoice {
      display: flex;
      position: fixed;
      top: 35vh;
      left: 60vh;
      .formnho {
        display: flex;
        flex-direction: column;
        flex: 1;
        height: fit-content;
        flex-wrap: wrap;
        background-image: linear-gradient(0deg, #bbc7d4, #8880f5);
        border-radius: 5px;
        box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        padding-right: 30px;

        h3 {
          align-self: center;
          padding: 10px;
        }
        .maindept_table {
          align-items: center;
          justify-content: center;
          justify-self: center;
          padding: 20px;
          width: 97%;
          border-radius: 5px;
          height: 40vh;
          margin-left: 10px;
          align-self: center;
          background-image: linear-gradient(0deg, #afd3d1, #7fca98);
        }
        .dangkyform {
          display: flex;
          flex-direction: column;
          margin-bottom: 10px;
          gap: 10px;
          align-items: center;
          justify-content: space-around;
          padding: 20px;
          height: fit-content;
          .dangkyinput {
            display: flex;
            flex-direction: row;
            gap: 20px;
            align-items: center;
            justify-content: space-around;
            justify-self: center;
            width: 100%;

            .maindeptinputlabel {
              display: flex;
            }
            .dangkyinputbox {
              display: flex;
              flex-direction: column;
              align-items: flex-end;
              gap: 10px;

              .autocomplete {
                width: 320px;
                margin-left: 20px;
              }
              select {
                width: 200px;
                height: 24px;
              }
              .inputdata {
                padding-left: 5px;
                margin-left: 2px;
                width: 310px;
                height: 35px;
                background-color: transparent;
                outline: none;
                border: solid 0.5px;
                border-color: rgba(0, 0, 0, 0.3);
                border-radius: 5px;
                font-size: 16px;
                margin-left: 20px;
                color: black;
              }
              label {
                display: flex;
                flex-direction: row;
                align-items: flex-end;
              }
            }
          }
          .dangkybutton {
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: space-between;
            .thembutton {
              background-color: #21a73e;
              /* Green */
              border: none;
              color: white;
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 16px;
              border-radius: 5px;
              outline: none;
              box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              &:hover {
                background-color: #22fd7e;
              }
            }
            .suabutton {
              background-color: #ddff19;
              /* Green */
              border: none;
              color: rgb(7, 32, 255);
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 16px;
              border-radius: 5px;
              outline: none;
              box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              &:hover {
                background-color: #22fd7e;
              }
            }
            .closebutton {
              background-color: #be19ff;

              /* Green */
              border: none;
              color: rgb(255, 255, 255);
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 16px;
              border-radius: 5px;
              outline: none;
              box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              &:hover {
                background-color: #22fd7e;
              }
            }
            .xoabutton {
              background-color: #3633f7;
              /* Green */
              border: none;
              color: rgb(194, 255, 28);
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 16px;
              border-radius: 5px;
              outline: none;
              box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
              &:hover {
                background-color: #dde020;
                color: #35a9f7;
              }
            }
          }
        }
      }
    }
    .printycsxpage {
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      width: fit-content;
      height: 200mm;
      align-items: center;
      padding: 10px;
      gap: 20px;
      border-radius: 5px;
      -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
      box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
      background-color: rgba(233, 222, 222, 0.664);

      top: 50px;
      left: 30%;

      .buttongroup {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 5px;
      }
      .ycsxrender {
        overflow: scroll;
        border: 1px solid black;
        background-color: white;
      }
    }
    .amazonetab {
      display: flex;
      width: 100%;
      .newamazon {
        display: flex;
        width: 100%;
        align-items: center;
        justify-items: flex-start;
        flex-direction: column;
        .amazonInputform {
          display: flex;
          width: 100%;
          justify-items: flex-start;
          align-items: center;
          flex-direction: column;
          background-image: linear-gradient(0deg, #afd3d1, #62f284);
          .forminput {
            display: flex;
            align-items: center;
            justify-items: flex-start;
            flex-direction: column;

            .forminputcolumn {
              display: flex;
              align-items: center;
              justify-items: flex-start;
              flex-direction: column;
              width: 100%;
            }

            .prod_request_info {
              display: flex;
              width: 100%;
              flex-direction: column;
              justify-items: flex-start;
            }
          }
          .formupload {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 100%;
            gap: 10px;
            .uploadfile {
              display: flex;
              margin-left: 70px;
            }
            .uploadbutton {
              display: flex;
              gap: 5px;
            }
          }
        }
        .batchnewycsx {
          display: flex;
          width: 100%;
          align-items: center;
          justify-items: center;
          .formupload {
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 320px) {
}
