@media only screen and (max-width: 5000px) {
  .Nav {
    background: white;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    overflow-y: scroll;

    .NavIcon {
      position: fixed;
      top: 8px;
      margin-left: 10px;
      font-size: 2rem;
      height: 80px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      z-index: 9;
    }
  }

  .SidebarNav {    
    /*  background: rgb(255, 255, 255); */    
    background-image: linear-gradient(
      310deg,
      rgba(86, 199, 252, 1),
      rgba(200, 229, 240, 1)
    );
    min-width: 230px;    
    margin-bottom: 0;    
    display: flex;
    justify-content: center;   
    z-index: 10;
    margin-bottom: -5000px;
    padding-bottom: 5000px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px 15px 5px rgba(2, 2, 2, 0.1);
    margin-top: 0px;    
    margin-left: 1px;
    overflow-y: scroll;

    &.show-sidebar {
      display: flex;
      width: 15%;
      animation: inAnimation 550ms ease-in;
    }

    &.hide-sidebar {
      display: none;
      width: 0%;
      animation: outAnimation 570ms ease-out;
    }

    @keyframes inAnimation {
      0% {
        opacity: 0;
        /* visibility: hidden; */
        left: -100px;
      }

      100% {
        opacity: 1;
        /* visibility: visible; */
        left: 0px;
      }
    }

    @keyframes outAnimation {
      0% {
        opacity: 1;
        left: 0px;
      }

      100% {
        opacity: 0;
        visibility: visible;
        left: -100px;
      }
    }
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    /* background-image: linear-gradient(0deg, #ffffff, #ffffff); */
  }

  /* Optional: show position indicator in red */
  ::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #fff;
    background-image: linear-gradient(0deg, #7bf8a4, #02c722);
  }

  .SidebarWrap {
    width: 100%;
    .cmslogo {
      text-decoration: none;
      padding: 10px;
      font-size: 20px;
    }

    .NavIcon {
      margin-left: 15px;
      font-size: 2rem;
      height: 80px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      text-decoration: none;
      color: blue;
    }
  }
}

@media only screen and (max-width: 768px) {
  .Nav {
    background: white;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    overflow-y: scroll;

    .NavIcon {
      position: fixed;
      top: 8px;
      margin-left: 10px;
      font-size: 2rem;
      height: 80px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      z-index: 99;
    }
  }

  .SidebarNav {
    position: fixed;
    /*  background: rgb(255, 255, 255); */
    background-image: linear-gradient(
      310deg,
      rgb(220, 243, 165),
      rgb(243, 233, 89)
    );

    min-width: 250px;
    height: 87vh;
    display: flex;
    justify-content: center;
    top: 81px;
    z-index: 10;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px 15px 5px rgba(2, 2, 2, 0.1);
    margin-top: 2px;
    border-radius: 5px;
    margin-left: 1px;
    margin-right: 2px;
    padding-right: 5px;
    overflow-y: scroll;

    &.show-sidebar {
      display: flex;
      width: 15%;
      animation: inAnimation 350ms ease-in;
    }

    &.hide-sidebar {
      display: none;
      width: 0%;
      animation: outAnimation 370ms ease-out;
    }

    @keyframes inAnimation {
      0% {
        opacity: 0;
        visibility: visible;
        left: -100px;
      }

      100% {
        opacity: 1;
        visibility: visible;
        left: 0;
      }
    }

    @keyframes outAnimation {
      0% {
        opacity: 1;
        left: 0;
      }

      100% {
        opacity: 0;
        visibility: hidden;
        left: -100;
      }
    }
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    /* background-image: linear-gradient(0deg, #ffffff, #ffffff); */
  }

  /* Optional: show position indicator in red */
  ::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #fff;
    background-image: linear-gradient(0deg, #7bf8a4, #02c722);
  }

  .SidebarWrap {
    width: 100%;   
    .cmslogo {
      text-decoration: none;
      padding: 10px;
      font-size: 20px;
    }

    .NavIcon {
      margin-left: 15px;
      font-size: 2rem;
      height: 80px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      text-decoration: none;
      color: blue;
    }
  }
}
