.khotabs {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  .mininavbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 5px;
    margin-top: 5px;

    .mininavitem {
      padding: 10px;
      background-color: rgb(240, 53, 100);
      margin-left: 5px;
      border-radius: 5px;
      font-size: 0.7rem;
      padding: 5px;
      color: white;
      -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
      box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.27);
      &:hover {
        background-color: rgb(127, 219, 255);
        cursor: pointer;
        color: black;
      }
    }
  }
}
