.design_window {
  display: flex;
  width: 100%;
  gap: 5px;
  .design_control {
    display: flex;
    width: fit-content;
    background-color: antiquewhite;
    height: 92vh;
    gap: 5px;
    .codelist {
      display: flex;
      width: fit-content;
      height: fit-content;
      flex-direction: column;
      align-items: center;
      .tracuuFcst {
        .tracuuFcstform {
          display: flex;
          flex-direction: column;
          align-items: center;
          background-image: linear-gradient(0deg, #a5ddee, #9298f5);
          -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          border-radius: 3px;
          padding: 5px;
          &:hover {
            background-image: linear-gradient(0deg, #5ae5fd, #5565f2);
          }
          span {
            padding: 10px;
            font-size: 20px;
            margin: auto;
          }

          .forminput {
            display: flex;
            flex-direction: column;
            gap: 5px;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
            padding: 2px;
            width: 100%;

            .forminputcolumn {
              display: flex;
              flex-direction: row;
              gap: 10px;
              align-items: center;
              justify-content: center;
              flex-wrap: wrap;

              table {
                border: 3px solid gray;
                width: 100%;
              }
              table thead tr td {
                font-weight: bold;
                border: 1px solid gray;
                padding-left: 10px;
                padding-right: 10px;
              }
              table tbody tr td {
                border: 1px solid gray;
              }

              input {
                width: 150px;
                height: 20px;
                outline: none;
                border-radius: 5px;
                border: none;
                padding: 5px;
                margin-left: 5px;
                background-image: linear-gradient(0deg, #ececec, #eee7e7);
              }

              .tranhapkiembutton {
                font-weight: bold;
                padding-left: 5px;
                padding-right: 5px;
                height: 30px;
                background-color: #99f86d;
                outline: none;
                border: none;
                border-radius: 5px;
                -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
                box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
                margin-bottom: 5px;
                margin-top: 5px;
                &:hover {
                  cursor: pointer;
                  background-color: #54a32f;
                }
              }
              .traxuatkiembutton {
                font-weight: bold;
                padding-left: 5px;
                padding-right: 5px;
                height: 30px;
                background-color: #3ebdf8;
                outline: none;
                border: none;
                border-radius: 5px;
                -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
                box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
                margin-bottom: 5px;
                margin-top: 5px;
                &:hover {
                  cursor: pointer;
                  background-color: #1b80af;
                }
              }
            }
          }
          .formbutton {
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 20px;
          }
        }
        .codeinfotable {
          display: flex;
          margin-top: 5px;
          height: 83vh;
          background-image: linear-gradient(0deg, #75ddac, #4ecde4);
          -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          border-radius: 3px;
        }
      }
    }
    .componentList {
      display: flex;
      width: fit-content;
      flex-direction: column;
      align-items: center;
      justify-items: center;
      background-image: linear-gradient(0deg, #dce6e5, #30d160);
      overflow-y: scroll;
      -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
      box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
      .title {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-content: center;
      }
      .componentdiv {
        display: flex;
        flex-direction: column;
      }
    }
    .componentProps {
      display: flex;
      width: fit-content;
      flex-direction: column;
      align-items: center;
      justify-items: flex-start;
      background-image: linear-gradient(0deg, #dce6e5, #82b0ec);
      -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
      box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
      .propsform {
        display: flex;
        width: fit-content;
        gap: 10px;
        flex-direction: row;
        align-items: flex-start;
        justify-items: flex-start;
        background-image: linear-gradient(0deg, #fa7fb9, #f5e876);
        -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
        box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
        border-radius: 3px;
        padding: 10px;
        height: fit-content;
        span {
          padding: 10px;
          font-size: 20px;
          margin: auto;
        }
        .forminput {
          display: flex;
          gap: 5px;
          align-items: center;
          justify-items: flex-start;
          flex-direction: column;
          justify-content: space-around;
          padding: 2px;
          width: 100%;
          .forminputcolumn {
            display: flex;
            flex-direction: column;
            gap: 5px;
            align-items: flex-start;
            justify-content: center;
            flex-wrap: wrap;
            .checkboxarray {
              .custom-checkbox-root .MuiSvgIcon-root {
                font-size: 20px;
              }
            }
            input {
              width: 200px;
              height: 20px;
              outline: none;
              border-radius: 5px;
              border: none;
              padding: 5px;
              margin-left: 5px;
              background-image: linear-gradient(0deg, #ececec, #9dee95);
            }
            select {
              width: 200px;
              height: 30px;
              outline: none;
              border-radius: 5px;
              border: none;
              padding: 5px;
              margin-left: 5px;
              background-image: linear-gradient(0deg, #ececec, #9dee95);
            }
          }
        }
        .formbutton {
          display: flex;
          align-items: center;
          justify-content: space-around;
          gap: 20px;
          .tranhapkiembutton {
            font-weight: bold;
            padding-left: 5px;
            padding-right: 5px;
            height: 30px;
            background-color: #99f86d;
            outline: none;
            border: none;
            border-radius: 5px;
            -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
            box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
            margin-bottom: 5px;
            margin-top: 5px;
            &:hover {
              cursor: pointer;
              background-color: #67c73a;
            }
          }
          .traxuatkiembutton {
            font-weight: bold;
            padding-left: 5px;
            padding-right: 5px;
            height: 30px;
            background-color: #3ebdf8;
            outline: none;
            border: none;
            border-radius: 5px;
            -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
            box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
            margin-bottom: 5px;
            margin-top: 5px;
            &:hover {
              cursor: pointer;
              background-color: #3f9eca;
            }
          }
          .tranhapxuatkiembutton {
            font-weight: bold;
            padding-left: 5px;
            padding-right: 5px;
            height: 30px;
            background-color: #f04dff;
            outline: none;
            border: none;
            border-radius: 5px;
            -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
            box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
            margin-bottom: 5px;
            margin-top: 5px;
            &:hover {
              cursor: pointer;
              background-color: #bd4dc7;
            }
          }
          .tranhatky {
            width: 50px;
            font-weight: bold;
            padding-left: 5px;
            padding-right: 5px;
            height: 30px;
            background-color: #ccff14;
            outline: none;
            border: none;
            border-radius: 5px;
            -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
            box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
            margin-bottom: 5px;
            margin-top: 5px;
            &:hover {
              cursor: pointer;
              background-color: #bd4dc7;
            }
          }
        }
        .formsummary {
          display: flex;
          flex-direction: row;
          background-image: linear-gradient(0deg, #ececec, #99f86d);
          -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          gap: 20px;
          border-radius: 5px;
          margin-top: 5px;
          .summarygroup {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-items: flex-start;
            gap: 10px;
            .summaryvalue {
              display: flex;
              font-size: 16px;
              justify-self: flex-end;
              align-self: flex-end;
              padding: 5px;
              color: rgb(83, 36, 255);
            }
          }
        }
      }
    }
  }
  .design_panel {
    display: flex;
    flex-direction: column;
    flex: 3;
    background-color: rgba(179, 179, 179, 0.473);
    height: 92vh;
    align-items: flex-start;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
    .design_toolbar {
      display: flex;
      width: 100%;
      background-color: #30d160;
      align-items: center;
    }
    .designAmazon {
      display: flex;
      position: relative;
    }
  }
}
