.landingpage {
  display: flex;
  flex-direction: column;
  width: 100%;

  .accountdiv {
    margin-right: 50px;
  }
  .bulletinboard {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(0deg, #afd3d1, #53eb6d);
    height: fit-content;
    padding: 20px;
    border-radius: 5px;
    box-shadow:
      0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: fit-content;
    gap: 20px;

    .notificationtitle {
      font-size: 32px;
      font-weight: bold;
    }
  }
}
