.tinhinhcuonlieu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .tracuuDataInspection {
    width: 100%;
    display: flex;
    gap: 5px;
    .tracuuDataInspectionform {
      display: flex;
      flex-direction: column;
      width: 230px;
      align-items: center;
      background-image: linear-gradient(0deg, #afd3d1, #86cfff);
      -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
      box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
      border-radius: 3px;
      padding: 5px;
      font-size: 0.8rem;
      span {
        padding: 10px;
        font-size: 20px;
        margin: auto;
      }
      .forminput {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 5px;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-around;
        padding: 2px;
        font-size: 0.6rem;

        .forminputcolumn {
          display: flex;
          flex-direction: column;
          gap: 10px;
          align-items: flex-end;
          justify-content: center;
          flex-wrap: wrap;

          input {
            width: 125px;
            height: 20px;
            font-size: 0.6rem;
            outline: none;
            border-radius: 5px;
            border: none;
            padding: 5px;
            margin-left: 5px;
            background-image: linear-gradient(0deg, #ececec, #9dee95);
          }

          select {
            width: 135px;
            height: 28px;
            font-size: 0.8rem;
            outline: none;
            border-radius: 5px;
            border: none;
            padding: 5px;
            margin-left: 5px;
            background-image: linear-gradient(0deg, #ececec, #9dee95);
          }
        }
      }

      .formbutton {
        display: flex;
        flex-direction: column;
        font-size: 0.6rem;
        gap: 20px;

        .tranhapkiembutton {
          font-weight: bold;
          padding-left: 5px;
          padding-right: 5px;
          height: 30px;
          background-color: #99f86d;
          outline: none;
          border: none;
          border-radius: 5px;
          -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          margin-bottom: 5px;
          margin-top: 5px;

          &:hover {
            cursor: pointer;
            background-color: #67c73a;
          }
        }

        .traxuatkiembutton {
          font-weight: bold;
          padding-left: 5px;
          padding-right: 5px;
          height: 30px;
          background-color: #3ebdf8;
          outline: none;
          border: none;
          border-radius: 5px;
          -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          margin-bottom: 5px;
          margin-top: 5px;

          &:hover {
            cursor: pointer;
            background-color: #3f9eca;
          }
        }

        .tranhapxuatkiembutton {
          font-weight: bold;
          padding-left: 5px;
          padding-right: 5px;
          height: 30px;
          background-color: #f04dff;
          outline: none;
          border: none;
          border-radius: 5px;
          -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          margin-bottom: 5px;
          margin-top: 5px;

          &:hover {
            cursor: pointer;
            background-color: #bd4dc7;
          }
        }

        .tranhatky {
          font-size: 0.7rem;
          font-weight: bold;
          padding-left: 5px;
          padding-right: 5px;
          height: 30px;
          background-color: #ccff14;
          outline: none;
          border: none;
          border-radius: 5px;
          -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          margin-bottom: 5px;
          margin-top: 5px;

          &:hover {
            cursor: pointer;
            background-color: #bd4dc7;
          }
        }
      }

      .formsummary {
        display: flex;
        flex-direction: row;
        background-image: linear-gradient(0deg, #ececec, #99f86d);
        -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
        box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
        gap: 20px;
        border-radius: 5px;

        .summarygroup {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-items: flex-start;
          gap: 10px;

          .summaryvalue {
            display: flex;
            font-size: 16px;
            justify-self: flex-end;
            align-self: flex-end;
            padding: 5px;
            color: rgb(83, 36, 255);
          }
        }
      }
    }

    .tracuuYCSXTable {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 92vh;
      background-image: linear-gradient(0deg, #afd3d1, #6dd1f8);
      -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
      box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
      border-radius: 3px;

      .datatb {
        justify-items: center;
        width: 99%;
        height: 84vh;
        padding: 5px;

        .losstable {
          display: flex;
          flex-direction: row;
          background-image: linear-gradient(0deg, #afd3d1, #86cfff);
          -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          gap: 20px;
          border-radius: 5px;
          padding: 10px;
          font-size: 0.8rem;

          table {
            border: 2px solid gray;
            width: 100%;
            text-align: center;
          }

          table thead tr td {
            font-weight: bold;
            border: 0.5px solid gray;
            padding-left: 10px;
            padding-right: 10px;
          }

          table tbody tr td {
            border: 1px solid gray;
            text-align: center;
          }
        }

        .dx-datagrid-rowsview
          .dx-selection.dx-row:not(.dx-row-focused):not(.dx-row-removed)
          > td {
          background-color: orange;
          color: unset;
        }

        .dx-datagrid-borders > .dx-datagrid-header-panel {
          border-bottom: 0;
          background-color: #b5f398;
        }

        .dx-toolbar .dx-toolbar-items-container {
          height: 25px;
          overflow: visible;
          background-color: #b5f398;
        }

        //toan bo bang
        .dx-gridbase-container > .dx-datagrid-rowsview.dx-scrollable {
          display: -ms-flexbox;
          display: flex;
          background-image: linear-gradient(0deg, #e9e1eb, #f1f5cf);
          font-size: 0.7rem;
        }

        .dx-datagrid-borders > .dx-datagrid-filter-panel,
        .dx-datagrid-borders > .dx-datagrid-headers {
          border-top: 1px solid #ddd;
          background-image: linear-gradient(0deg, #e9e1eb, #a0f87e);
          color: black;
          font-weight: bold;
          font-size: 0.7rem;
        }
        //filter row input
        .dx-datagrid-filter-row
          .dx-editor-cell
          .dx-editor-with-menu
          .dx-placeholder::before,
        .dx-datagrid-filter-row
          .dx-editor-cell
          .dx-editor-with-menu
          .dx-texteditor-input {
          padding-left: 32px;
          background-image: linear-gradient(0deg, #e9e1eb, #a0f87e);
          color: black;
          height: 10px;
        }
        .dx-editor-cell .dx-texteditor,
        .dx-editor-cell .dx-texteditor .dx-texteditor-input {
          background-image: linear-gradient(0deg, #e9e1eb, #a0f87e);
        }

        .dx-searchbox .dx-placeholder::before,
        .dx-searchbox .dx-texteditor-input {
          padding-left: 34px;
          background-image: linear-gradient(0deg, #e9e1eb, #d7f0cd);
        }

        .dx-button-mode-contained {
          background-color: #a0f87e;
          border-color: #cacafa;
          color: #430fff;
        }

        .dx-datagrid-total-footer > .dx-datagrid-content {
          padding-top: 0px;
          padding-bottom: 0px;
        }
      }
    }
    .pivottable1 {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      position: absolute;
      top: 1vh;
      left: 1%;
      width: 95%;
      height: 85vh;
      overflow: scroll;
      padding: 10px;
      border-radius: 5px;
      background-image: linear-gradient(0deg, #afd3d1, #86cfff);
      -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
      box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.27);
      z-index: 100;
      * {
        font-size: 0.7rem;
      }
    }
  }
}
