.khct {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
  z-index: 0;

  .planwindow {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.58);
    width: 100%;
    height: 100%;
    position: fixed;
    box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
    justify-self: center;
    align-self: center;
    .tracuuDataInspectionform {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-image: linear-gradient(0deg, #afd3d1, #8c85ec);
      -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
      box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
      border-radius: 3px;
      padding: 5px;
      &:hover {
        background-image: linear-gradient(0deg, #afd3d1, #81ffe4);
      }
      span {
        padding: 10px;
        font-size: 20px;
        margin: auto;
      }

      .forminput {
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        padding: 2px;
        width: 100%;

        .tranhatky {
          font-weight: bold;
          padding-left: 5px;
          padding-right: 5px;
          height: 30px;
          background-color: #ccff14;
          outline: none;
          border: none;
          border-radius: 5px;
          -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          margin-bottom: 5px;
          margin-top: 5px;
          width: 100px;
          &:hover {
            cursor: pointer;
            background-color: #bd4dc7;
          }
        }

        .forminputcolumn {
          display: flex;
          flex-direction: column;
          gap: 10px;
          align-items: flex-end;
          justify-content: center;
          flex-wrap: wrap;

          input {
            width: 150px;
            height: 20px;
            outline: none;
            border-radius: 5px;
            border: none;
            padding: 5px;
            margin-left: 5px;
            background-image: linear-gradient(0deg, #ececec, #9dee95);
          }
          select {
            width: 160px;
            height: 30px;
            outline: none;
            border-radius: 5px;
            border: none;
            padding: 5px;
            margin-left: 5px;
            background-image: linear-gradient(0deg, #ececec, #9dee95);
          }
        }
      }
      .formbutton {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 20px;
        .tranhapkiembutton {
          font-weight: bold;
          padding-left: 5px;
          padding-right: 5px;
          height: 30px;
          background-color: #99f86d;
          outline: none;
          border: none;
          border-radius: 5px;
          -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          margin-bottom: 5px;
          margin-top: 5px;
          &:hover {
            cursor: pointer;
            background-color: #67c73a;
          }
        }
        .traxuatkiembutton {
          font-weight: bold;
          padding-left: 5px;
          padding-right: 5px;
          height: 30px;
          background-color: #3ebdf8;
          outline: none;
          border: none;
          border-radius: 5px;
          -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          margin-bottom: 5px;
          margin-top: 5px;
          &:hover {
            cursor: pointer;
            background-color: #3f9eca;
          }
        }
        .tranhapxuatkiembutton {
          font-weight: bold;
          padding-left: 5px;
          padding-right: 5px;
          height: 30px;
          background-color: #f04dff;
          outline: none;
          border: none;
          border-radius: 5px;
          -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          margin-bottom: 5px;
          margin-top: 5px;
          &:hover {
            cursor: pointer;
            background-color: #bd4dc7;
          }
        }
      }
      .formsummary {
        display: flex;
        flex-direction: row;
        background-image: linear-gradient(0deg, #ececec, #99f86d);
        -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
        box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
        gap: 20px;
        border-radius: 5px;
        margin-top: 5px;

        .summarygroup {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-items: flex-start;
          gap: 10px;
          .summaryvalue {
            display: flex;
            font-size: 16px;
            justify-self: flex-end;
            align-self: flex-end;
            padding: 5px;
            color: rgb(83, 36, 255);
          }
        }
      }
    }

    .datadinhmuc {
      display: flex;
      flex: 1;
      background-image: linear-gradient(0deg, #afd3d1, #25d468);
      padding: 10px;
      gap: 2px;
      width: 100%;
      border-radius: 5px;
      box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
      -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
      height: fit-content;
      margin-top: 10px;
      margin: auto;
      .forminputcolumn {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
      }
      align-items: center;
    }

    .content {
      display: flex;
      width: 100%;
      height: 100%;
      flex: 15;
      align-self: center;
      background-color: white;

      .ycsxlist {
        display: flex;
        flex-direction: column;
        flex: 2;
        height: 100%;
        padding: 10px;
        .tracuuYCSX {
          .tracuuYCSXform {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 1;
            font-size: 12px;
            background-image: linear-gradient(0deg, #afd3d1, #d4f167);
            -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
            box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
            border-radius: 8px;
            padding: 5px;
            &:hover {
              background-image: linear-gradient(0deg, #afd3d1, #486ac9);
            }
            span {
              padding: 10px;
              font-size: 12px;
              margin: auto;
            }

            .forminput {
              display: flex;
              gap: 5px;
              flex-wrap: wrap;
              align-items: center;
              justify-content: space-around;
              padding: 2px;
              width: 100%;

              .forminputcolumn {
                display: flex;
                flex-direction: column;
                gap: 10px;
                align-items: flex-end;
                justify-content: center;
                flex-wrap: wrap;
                input {
                  width: 150px;
                  height: 20px;
                  outline: none;
                  border-radius: 5px;
                  border: none;
                  padding: 5px;
                  margin-left: 5px;
                  background-image: linear-gradient(0deg, #ececec, #9dee95);
                }
                select {
                  width: 160px;
                  height: 30px;
                  outline: none;
                  border-radius: 5px;
                  border: none;
                  padding: 5px;
                  margin-left: 5px;
                  background-image: linear-gradient(0deg, #ececec, #9dee95);
                }
              }
            }
            .formbutton {
              display: flex;
              align-items: center;
              justify-content: space-around;
              gap: 20px;
            }
            .formsummary {
              display: flex;
              flex-direction: row;
              background-image: linear-gradient(0deg, #ececec, #99f86d);
              -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
              box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
              gap: 20px;
              border-radius: 5px;
              margin-top: 5px;

              .summarygroup {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-items: flex-start;
                gap: 10px;
                .summaryvalue {
                  display: flex;
                  font-size: 16px;
                  justify-self: flex-end;
                  align-self: flex-end;
                  padding: 5px;
                  color: rgb(83, 36, 255);
                }
              }
            }
          }
          .tracuuYCSXTable {
            display: flex;
            margin-top: 10px;
            height: 59vh;
            background-image: linear-gradient(0deg, #afd3d1, #f7f7f7);
            -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
            box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
            border-radius: 8px;
          }
          .printycsxpage {
            position: fixed;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            z-index: 3;
            width: fit-content;
            height: 200mm;
            align-items: center;
            padding: 10px;
            gap: 20px;
            border-radius: 5px;
            -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
            box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
            //background-color: rgba(233, 222, 222, 0.664);
            background-color: white;
            top: 50px;
            left: 30%;

            .buttongroup {
              display: flex;
              flex-direction: row;
              align-items: flex-start;
              gap: 5px;
            }
            .ycsxrender {
              overflow: scroll;
              border: 1px solid black;
              background-color: white;
            }
          }
        }
      }
      .chithidiv {
        display: flex;
        flex-direction: column;
        flex: 4;
        padding: 10px;
        gap: 10px;
        margin-bottom: 150px;
      }

      .planlist {
        display: flex;
        display: flex;
        flex-direction: column;
        flex: 4;
        padding: 10px;
        gap: 10px;
        margin-bottom: 150px;
        background-image: linear-gradient(0deg, #afd3d1, #aeb4e9);
        border-radius: 5px;
        box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
      }
    }
  }
}
