.planresult {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
  background-image: linear-gradient(0deg, #afd3d1, #88d3f6);
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
  border-radius: 5px;
  padding: 10px;
  gap: 10px;
  .maintitle {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-self: center;
    font-weight: bold;
  }
  .titleplanresult {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-self: center;
    font-weight: bold;
  }
  .wfandeqstatus {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    .sectiondiv {
      display: flex;
      flex-direction: column;
      .totalwfdiv {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        border-radius: 5px;
        padding: 10px;
        gap: 30px;
        background-image: linear-gradient(0deg, #afd3d1, #ecbcf8);
        -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
        box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
      }
    }
  }
  .prdiv {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 5px;
    .progressdiv {
      display: flex;
      width: 33%;
      flex-direction: column;
      gap: 20px;
      box-sizing: border-box;
      .titleprogressdiv {
        align-self: flex-start;
        font-weight: bold;
      }
      .mainprogressdiv {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-image: linear-gradient(0deg, #afd3d1, #ffffff);
        -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
        box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
        border-radius: 15px;
        flex-direction: column;
        padding: 10px;
        min-height: 450px;

        .subprogressdiv {
          display: flex;
          flex-direction: column;
          width: 99%;
          .sectiondiv {
            width: 100%;
            padding: 10px;
            align-self: center;
            justify-content: center;
            font-size: 1.5rem;
            .lossdiv {
              display: flex;
              padding: 10px;
              flex-wrap: wrap;
              gap: 3px;
              justify-content: space-around;
            }
            .totalachivementdiv {
              font-size: 4rem;
              align-self: center;
              text-align: center;
              color: #1b9910;
            }
            .totallosstdiv {
              font-size: 4rem;
              align-self: center;
              text-align: center;
              color: #ff0000;
            }
            .efftitle {
              font-size: 1rem;
            }
            .efficiencydiv {
              display: flex;
              justify-content: space-around;
              font-size: 1.5rem;
              align-self: center;
              text-align: center;
              color: #0004f9;
            }
          }
        }
      }
    }
  }
  .progressdiv {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 100%;
    gap: 20px;
    box-sizing: border-box;
    .titleprogressdiv {
      align-self: flex-start;
      font-weight: bold;
    }
    .mainprogressdiv {
      display: flex;
      align-items: center;
      background-image: linear-gradient(0deg, #afd3d1, #ffffff);
      flex-direction: column;
      .subprogressdiv {
        display: flex;
        flex-direction: column;
        width: 99%;
        .sectiondiv {
          width: 100%;
          padding: 10px;
          align-self: center;
          justify-content: center;
          font-size: 1.5rem;
          .lossdiv {
            display: flex;
            justify-content: space-around;
          }
          .totalachivementdiv {
            font-size: 5rem;
            align-self: center;
            text-align: center;
            color: #1b9910;
          }
          .totallosstdiv {
            font-size: 2.5rem;
            align-self: center;
            text-align: center;
            color: #ff0000;
          }
          .efftitle {
            font-size: 1rem;
          }
          .efficiencydiv {
            display: flex;
            justify-content: space-around;
            font-size: 1.5rem;
            align-self: center;
            text-align: center;
            color: #0004f9;
          }
        }
      }
    }
  }
  .inputformdiv {
    background-image: linear-gradient(0deg, #afd3d1, #ffffff);
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: fit-content;
    gap: 15px;
    padding: 5px;
    border-radius: 5px;
    .forminput {
      display: flex;
      gap: 5px;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      padding: 2px;
      width: 100%;
      font-size: 0.7rem;
      .forminputcolumn {
        display: flex;
        gap: 10px;
        align-items: flex-end;
        justify-content: center;
        flex-wrap: wrap;
        input {
          width: 150px;
          height: 20px;
          font-size: 0.7rem;
          outline: none;
          border-radius: 5px;
          border: none;
          padding: 5px;
          margin-left: 5px;
          background-image: linear-gradient(0deg, #ececec, #9dee95);
        }
        select {
          width: 160px;
          height: 30px;
          font-size: 0.7rem;
          outline: none;
          border-radius: 5px;
          border: none;
          padding: 5px;
          margin-left: 5px;
          background-image: linear-gradient(0deg, #ececec, #9dee95);
        }
      }
    }
  }
  .workforcechart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 99%;
    gap: 15px;
    padding: 10px;
    border-radius: 5px;
    .sectiondiv {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 99%;
      .starndardworkforce {
        background-image: linear-gradient(0deg, #ebf2f2, #cad3da);
        -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
        box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
        width: 99%;
      }
      .capachart {
        display: flex;
        flex-direction: column;
        background-image: linear-gradient(0deg, #ebf2f2, #cad3da);
        -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
        box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
        padding: 5px;
      }
    }
  }
  .workforcechart2 {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 99%;
    gap: 15px;
    padding: 10px;
    border-radius: 5px;
    .sectiondiv {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      flex: 1;
      justify-items: center;
      .starndardworkforce {
        display: flex;
        flex: 1;
        align-self: center;
        background-image: linear-gradient(0deg, #ebf2f2, #cad3da);
        -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
        box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
      }
    }
  }

  .chartdiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 15px;
    padding: 10px;
    border-radius: 5px;
    .sectiondiv {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 100%;
      .starndardworkforce {
        display: flex;
        flex: 1;
        background-image: linear-gradient(0deg, #ebf2f2, #cad3da);
        -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
        box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
      }
    }
  }

  .ycsxbalancedatatable {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(0deg, #bbe2f5, #e9f1ed);
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
    gap: 20px;
    border-radius: 5px;
    margin-top: 5px;
    padding: 15px;
    font-size: 0.8rem;
    overflow: hidden;
    table {
      border: 2px solid gray;
      width: 100%;
      text-align: center;
    }
    table thead tr td {
      font-weight: bold;
      border: 1px solid gray;
      padding-left: 10px;
      padding-right: 10px;
    }
    table tbody tr td {
      border: 1px solid gray;
      text-align: center;
    }
  }
}
